/* tools */
body.page-tools.section-tools {

  .modal-header {
    float: right;
    margin-right: -50px;

    a.close {
      float: right;
      display: block;

      top: 0;
      right: -50px;
    }
  }

  #modalContent {

    .field-name-field-display-title {
      .field-item {
        color: #040a2b;
        font-family: 'optimadisplaylightlight';
        font-size: 23px;
        font-weight: bold;
        margin: 10px 0;
        text-decoration: none;

      }
    }

    .field-name-field-tool-description {
      .field-item {
        p {
          font-size: 1.2em;
        }
      }
    }

    .field-name-field-tool-pdf {
      .file-video-mp4 {
        video {
          width: 100%;
        }
      }
    }

    #detail-content-btn {
      margin: 20px;
      padding: 5px;
      border: 1px solid gray;
      width: 150px;
      text-align: center;
      color: gray;
      background-color: white;

      a {
        text-decoration: none;
        color: #040a2b;
      }
    }


    background-color: white;

    .ctools-modal-content {
      opacity: 0;
      visibility: hidden;
    }

    .paragraph-animgif-container {
      padding: 0 25px 25px;
      font-family: 'optimadisplaylightlight';
      font-weight: bold;
    }

    video {
      padding: 0 33px 25px;
      width: 100%;
    }

    .animated-gif {
      display: block;
      margin-top: 25px;
    }

    .item-title-inmodal {
      opacity: 0;
      display: none;
      margin: 25px;
      color: #040a2b;
      font-weight: bold;
      font-family: 'optimadisplaylightlight';
      font-size: 23px;
      text-decoration: none;
    }

    div#detail-content-btn {
      margin: 20px;
      padding: 5px;
      border: 1px solid gray;
      width: 120px;
      text-align: center;
      color: gray;
      background-color: white;

      a {
        text-decoration: none;
        color: #040a2b;
      }
    }
  }

  #modalContent.drupal-overlay-js.mp4-variant {

    background-color: white;
    width: 50%;

    @include respond-to('mobile') {
      width: 70%;

      .modal-header a.close {
        right: -40px;
      }

      video {
        padding: 0;
      }
    }

    @include respond-to('mobile-landscape') {
      // margin-left: -100px;
      transform: scale(.8);
      margin-top: -50px;

      .modal-header a.close {
        right: -40px;
      }

      video {
        padding: 0;
      }
    }
  }

  #modalContent.drupal-overlay-js.animgif-variant {

    width: 50%;
    background-color: white;

    @include respond-to('mobile') {
      width: 90%;
      transform: scale(.8);
    }

    @include respond-to('mobile-landscape') {
      width: 90%;
      transform: scale(.6);
    }
  }

  #modalContent.drupal-overlay-js.pdf-variant {
    width: 50%;

    background-color: white;

    @include respond-to('mobile') {
      width: 60%;
    }
  }

}
