// Dependencies.

@import 'base/headings/headings';

@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

@include respond-to('mobile') {
  html {
    body.admin-menu {
      margin-top: 0 !important; // adjust the header position for mobile
    }

    #admin-menu {
      display: none;
    }
  }
}

@include respond-to('mobile-landscape') {
  html {
    body.admin-menu {
      margin-top: 0 !important; // adjust the header position for mobile
    }

    #admin-menu {
      display: none;
    }
  }
}

.header,
%header {
  @extend %clearfix;
  background-color: #040a2b;
  height: 64px;
  background-image: none;
  @include respond-to('tablet') {
    height: 64px;
    background-image: none;
  }
  @include respond-to('desktop') {
    height: 94px;
  }
  @include respond-to('wide') {
    height: 94px;
  }
  @include respond-to('xwide') {
    height: 94px;
  }

  // Wrapping link for logo.

  &__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
    display: none;
  }

  div#block-blockify-blockify-logo {
    float: left;
    width: 64px;
    position: relative;
    @include respond-to('mobile') {
      width: 64px;
      margin: -6px 0 0 20px;
    }
    @include respond-to('tablet') {
      width: 64px;
      margin: 20px 0 0;
    }
    @include respond-to('desktop') {
      width: 95px;
      margin: 20px 0 0;
    }
    @include respond-to('wide') {
      width: 95px;
      margin: 20px 0 0;
    }
    @include respond-to('xwide') {
      width: 95px;
      margin: 20px 0 0;
    }

    img {
      position: absolute;
      z-index: 1;
    }

    &::after {
      background-image: none;
      @include respond-to('tablet') {
        background-image: none;
      }
      @include respond-to('desktop') {
        width: 220px;
        background-image: url('../images/menu-steel.png');
        background-repeat: no-repeat;
        height: 94px;
        content: '';
        display: block;
        left: -50px;
        top: -20px;
        position: absolute;
      }
      @include respond-to('wide') {
        width: 220px;
        background-image: url('../images/menu-steel.png');
        background-repeat: no-repeat;
        height: 94px;
        content: '';
        display: block;
        left: -50px;
        top: -20px;
        position: absolute;
      }
      @include respond-to('xwide') {
        width: 220px;
        background-image: url('../images/menu-steel.png');
        background-repeat: no-repeat;
        height: 94px;
        content: '';
        display: block;
        left: -50px;
        top: -20px;
        position: absolute;
      }
    }
  }

  div#block-blockify-blockify-site-name {
    @include respond-to('mobile') {
      background-image: url('../images/estee-lauder-experience-logo-navy.svg');
      background-repeat: no-repeat;
      background-size: 284px 27px;
      width: 279px;

      h1#site-name a {
        color: transparent;
        text-decoration: none;

        &:visited {
          color: transparent;
        }
      }
    }
    @include respond-to('tablet') {
      background-image: url('../images/estee-lauder-experience.png');
      width: 290px;
      float: left;
      height: 86px;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      top: 25px;
      display: inline;

      h1#site-name a {
        color: transparent;
        text-decoration: none;

        &:visited {
          color: transparent;
        }
      }
    }
    @include respond-to('desktop') {
      background-image: url('../images/estee-lauder-experience-stacked.png');
      width: 135px;
      float: left;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      top: 20px;
      left: 20px;
      display: inline;

      h1#site-name a {
        color: transparent;
        text-decoration: none;

        &:visited {
          color: transparent;
        }
      }
    }
    @include respond-to('wide') {
      background-image: url('../images/estee-lauder-experience-stacked.png');
      width: 135px;
      float: left;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      top: 20px;
      left: 20px;
      display: inline;

      h1#site-name a {
        color: transparent;
        text-decoration: none;

        &:visited {
          color: transparent;
        }
      }
    }
    @include respond-to('xwide') {
      background-image: url('../images/estee-lauder-experience.png');
      width: 290px;
      float: left;
      height: 86px;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      top: 35px;
      display: inline;

      h1#site-name a {
        color: transparent;
        text-decoration: none;

        &:visited {
          color: transparent;
        }
      }
    }
  }

  h1#site-name a {
    color: transparent;
    text-decoration: none;

    &:visited {
      color: transparent;
    }
  }

  span#site-name a {
    color: transparent;
    text-decoration: none;

    &:visited {
      color: transparent;
    }
  }
  // Logo image.

  &__logo-image {
    vertical-align: bottom;
  }
  // Wrapper for website name and slogan.

  &__name-and-slogan {
    float: left;
    display: none;
  }
  // The name of the website.

  &__site-name {
    @extend %h1;
    margin: 0;
  }
  // The link around the name of the website.

  &__site-link {

    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  // The slogan (or tagline) of a website.

  &__site-slogan {
    margin: 0;
  }
  // The secondary menu (login, etc.)

  &__secondary-menu {
    float: right;
    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.

  &__region {
    // Clear the logo.
    clear: both;
  }
}

form#search-block-form {
  display: none;
  @include respond-to('tablet') {
    display: none;
  }
  @include respond-to('desktop') {
    float: right;
    display: inline;
  }
  @include respond-to('wide') {
    float: right;
    display: inline;
  }
  @include respond-to('xwide') {
    float: right;
    display: inline;
  }

  .form-item {
    position: relative;
    display: inline-flex;
  }

    .form-item-search-block-form::before {
      content: '\e60f';
      position: absolute;
      color: #fff;
      right: 0;
      font-family: $font-family-icons;
      line-height: 44px;
      right: 15px;
    }

    input[type='text'] {
      border-bottom: 1px solid transparent;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      box-shadow: 0 0 0;
      width: 125px;
      padding: 10px 35px 10px 10px;
      background: 0 0;
      margin: 0;
      font-size: 1em;
      color: #fff;
      height: 44px;
      display: block;
      transition: .8s ease-in-out;
      line-height: 1.429;
      font-size: 18px;

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        opacity: 1 !important;
      }

      &::-moz-placeholder {
        /* Firefox 18- */
        opacity: 1;
      }

      &:focus {
        width: 200px;
        outline-color: 0 transparent;
        outline: -webkit-focus-ring-color auto 0;
        outline-color: transparent;
        outline-style: auto;
        outline-width: 0;
        border-bottom: 1px solid #fff;
      }
    }

    input[type='submit'] {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }

}

div#block-menu-menu-header-menu {
  display: none;

  @include respond-to('tablet') {
    display: none;
  }

  @include respond-to('desktop') {
    display: inline;
    float: right;
    position: relative;
    top: 10px;

    ul.menu li {
      float: left;
      padding: 0 40px 0 0;

      a {
        color: #9eafff;
        text-decoration: none;
        font-family: $font-family-sans-serif-head;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

div#block-menu-menu-header-user-menu {
  position: relative;
  float: right;
  background: #1e2341;
  width: 200px;
  height: 64px;
  z-index: 150;
  top: -150px;
  right: -30px;

  @include respond-to('mobile') {
    top: 0;
    right: 0;
    position: absolute;
  }

  @include respond-to('mobile-landscape') {
    top: 0;
    right: 0;
    position: absolute;
  }

  @include respond-to('tablet') {
    top: 0;
    right: -30px;
  }
  @include respond-to('desktop') {
    height: 94px;
    top: 0;
    right: 0;
  }
  @include respond-to('wide') {
    height: 94px;
    top: 0;
    right: 0;
  }
  @include respond-to('xwide') {
    height: 94px;
    top: 0;
    right: 0;
  }

  ul.menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    li {

      a.menu-minipanel {
        @include respond-to('mobile') {
        color: transparent;
        height: 25px;
        position: relative;
        display: inline-block;
        width: 30px;
        margin-right: .3em;
        border-top: .2em solid #fff;
        border-bottom: .2em solid #fff;
        bottom: 0;

        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          width: 100%;
          border-top: .2em solid #fff;
        }
}

@include respond-to('tablet') {
        color: transparent;
        height: 25px;
        position: relative;
        display: inline-block;
        width: 30px;
        margin-right: .3em;
        border-top: .2em solid #fff;
        border-bottom: .2em solid #fff;
        bottom: 0;

        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          width: 100%;
          border-top: .2em solid #fff;
        }
}
        @include respond-to('desktop') {
          display: block;
          width: 100%;
          background-image: url('../images/elx-menu_button.png');
          background-repeat: no-repeat;
          border: transparent;
          font-size: 0;
          line-height: 0;
          height: 14px;
          position: absolute;
          top: 80px;
          left: 0;
        }

        @include respond-to('wide') {
          display: block;
          width: 100%;
          background-image: url('../images/elx-menu_button.png');
          background-repeat: no-repeat;
          border: transparent;
          font-size: 0;
          line-height: 0;
          height: 14px;
          position: absolute;
          top: 80px;
          left: 0;
        }

        @include respond-to('xwide') {
          display: block;
          width: 100%;
          background-image: url('../images/elx-menu_button.png');
          background-repeat: no-repeat;
          border: transparent;
          font-size: 0;
          line-height: 0;
          height: 14px;
          position: absolute;
          top: 80px;
          left: 0;
        }
      }
    }
  }

  ul.menu li a {
    color: #fff;
    position: relative;
    top: 20px;
    left: 85px;
    font-family: $font-family-serif;
    font-size: 1em;
    text-decoration: none;
    float: left;
    padding-right: 30px;

    @include respond-to('desktop') {
      padding-right: 0;
    }

    @include respond-to('wide') {
      padding-right: 0;
    }

    @include respond-to('xwide') {
      padding-right: 0;
    }
  }
}

.qtip.qtip-light {
  width: 300px !important;
  position: absolute !important;
  right: 0 !important;

  @include respond-to('mobile') {
    left: auto !important;
  }

  @include respond-to('mobile-landscape') {
    left: auto !important;
  }

}

.qtip-contentWrapper {
  border: 0 !important;
}

.qtip-content.qtip-content {
  background-color: #1e2341 !important;
  color: #fff !important;
  font-family: $font-family-serif !important;
  padding: 0 !important;
  border-bottom: 1px solid #040a2b !important;

  // mini-panel-header_user_menu
  #mini-panel-header_user_menu {

    .panel-pane {
      clear: left;
      float: left;
      width: 100%;
    }

    .pane-levels-quizz-progress-completed-count {

      background-color: #1e2341;
      height: 80px;

      .pane-title {
        font-size: 20px;
        padding: 10px 20px;
        width: 200px;
        line-height: 24px;
      }

      .view-display-id-completed_count {
        .views-field.views-field-tid {
          height: 25px;
          margin-left: 0;
          width: 100%;

          span.field-content {
            font-size: 24px;
          }

          span.field-content::before {
            font-size: 16px;
            content: 'Levels Completed';
            padding: 5px 20px;
            color: #999;
          }
        }
      }

      margin-bottom: 2px;
      padding-bottom: 10px;
    }

    .pane-levels-quizz-progress-closest-completion {
      background-color: #1e2341;
      padding: 0 0 10px;
      height: 80px;

      .views-row {
        width: 100%;
      }

      .views-field-expression {
        width: 260px;

        .progress-bar-percentage {
          left: -20px;
          position: absolute;
          font-size: 16px;
        }
      }

      .pane-title {
        line-height: 24px;
        font-size: 16px;
        padding: 10px 20px;
        width: 230px;
        color: #999;
      }

      .view-id-levels_quizz_progress.view-display-id-closest_completion {

        .views-field-expression {
          margin: 0;
          height: 25px;
        }

        .views-field-name {
          display: none;
        }
      }

      .views-field.views-field-expression::after {
          float: left;
          height: 1px;
          margin-left: 0;
          margin-top: 0;
          position: absolute;
          color: gray;
          content: '';
          font-family: 'elx-icons';
          font-size: 18px;
          font-weight: 700;
          position: absolute;
          top: -4px;
          right: 20px;
      }

      .user-progress-bar {
        margin: 0 20px;
        background-color: #999;
        position: relative;
        margin-left: 40px;

        .progress-bar-percentage {
          float: left;
        }

        .user-progress {
          float: left;
          height: 1px;
          background-color: white;
          margin-left: 17px;
          margin-top: 17px;
          background-image: url('../images/progress-bar.png');
          -moz-animation: progress 2s 1 forwards;
          -ms-animation: progress 2s 1 forwards;
          animation: progress 2s 1 forwards;
        }

        @-webkit-keyframes progress {
          from { width: 0%; }
        }

        @-moz-keyframes progress {
          from { width: 0%; }
        }

        @-ms-keyframes progress {
          from { width: 0%; }
        }

        @keyframes progress {
          from { width: 0%; }
        }

      }

      .view-id-levels_quizz_progress {
        .views-row-1 {
          .views-field-name {
            span.field-content {
              display: none;
            }
          }
        }
      }
    }

    .pane-dashboard-user-activities-suggested {
      background-color: #1e2341;
      margin-top: 1px;
      padding: 20px 10px 0 20px;
      color: #999;
      font-size: 16px;

      .pane-title {
        line-height: 24px;
      }

      .views-row {
        width: 100%;
        margin: 0 0 10px;

        .views-field {
          margin-left: 0;
        }
      }

      .view-display-id-suggested {
        .views-field-field-headline {
          height: 0;

          .field-content a {
            color: #9eafff;
            font-size: 16px;
            text-indent: 0;
          }
        }

        .views-field-field-display-title {
          display: block;

          height: 25px;

          .field-content {
            line-height: 24px;
            height: 24px;

            a {
              color: #9eafff;
              font-size: 16px;
              text-indent: 0;

              width: 230px;
            }
          }
        }

      }
    }

    .pane-dashboard-user-my-points {
      background-color: #1e2341;
      color: #999;
      font-size: 16px;
      margin-top: 1px;
      padding: 20px 5px 20px 20px;
      height: 70px;
      width: 100%;

      .view-display-id-my_points {
        .views-field-points {

          padding-top: 5px;

          .views-label-points {
            text-transform: none;
          }

          .field-content {
            font-weight: bold;
            font-size: 20px;
            color: white;
            margin-left: 36px;
          }

          .field-content::before {
            background: transparent url('/sites/all/themes/elx_front/images/leaderboard/points-icon.png') repeat scroll 0 0;
            content: ' ';
            display: block;
            height: 17px;
            margin-left: 76px;
            position: absolute;
            width: 20px;
            top: 4px;
            background-size: 20px;
          }
        }
      }
    }

    .pane-badges-my-badges {
      background-color: #1e2341;
      margin-top: 1px;
      height: 80px;

      h2.pane-title {
        color: #999;
        font-size: 15px;
        padding-left: 5px;
        // padding-left: 20px;
        display: block;
        width: 125px;
        float: left;
        margin-left: 0;
        margin-top: 25px;
      }

      .view-badges.view-id-badges.view-display-id-my_badges {
        float: left;
        margin-top: 25px;

        .view-content {
          height: 33px;
          overflow: hidden;
          float: left;

          .views-row {
            width: 150px;

            .views-field {
              float: left;
              margin: 0;

              span.field-content {
                float: left;
              }
            }
          }

          .views-row::after {
            height: 1px;
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            color: gray;
            content: '';
            font-family: 'elx-icons';
            font-size: 18px;
            font-weight: 700;
            position: absolute;
            right: 0;
            top: 12px;

            visibility: hidden;
          }

          .high-five-no,
          .perfect-ten-no,
          .on-your-way-no,
          .one-hundred-percent-club-no,
          .service-star-no,
          .first-5000-points-no,
          .first-10000-points-no,
          .we-heart-you-no,
          .product-pro-no,
          .high-five-no,
          .welcome-no,
          .little-brown-bottle-no,
          .beauty-queen-no,
          .rare-beauty-no,
          .new-dimension-no,
          .sleeping-beauty-no,
          .we-heard-you-no,
          .well-read-50-no,
          .well-read-25-no,
          .well-read-75-no,
          .three-minute-beauty-no,
          .fast-learner-no,
          .well-read-100-no,
          .early-bird-no {
            display: none;
          }

          .high-five-yes,
          .perfect-ten-yes,
          .on-your-way-yes,
          .one-hundred-percent-club-yes,
          .service-star-yes,
          .first-5000-points-yes,
          .first-10000-points-yes,
          .we-heart-you-yes,
          .product-pro-yes,
          .high-five-yes,
          .welcome-yes,
          .little-brown-bottle-yes,
          .beauty-queen-yes,
          .rare-beauty-yes,
          .new-dimension-yes,
          .sleeping-beauty-yes,
          .we-heard-you-yes,
          .well-read-50-yes,
          .well-read-25-yes,
          .well-read-75-yes,
          .three-minute-beauty-yes,
          .fast-learner-yes,
          .well-read-100-yes,
          .early-bird-yes {
            display: block;
          }

          .high-five-no,
          .perfect-ten-no,
          .on-your-way-no,
          .one-hundred-percent-club-no,
          .service-star-no,
          .first-5000-points-no,
          .first-10000-points-no,
          .we-heart-you-no,
          .product-pro-no,
          .high-five-no,
          .welcome-no,
          .little-brown-bottle-no,
          .beauty-queen-no,
          .rare-beauty-no,
          .new-dimension-no,
          .sleeping-beauty-no,
          .we-heard-you-no,
          .well-read-50-no,
          .well-read-25-no,
          .well-read-75-no,
          .three-minute-beauty-no,
          .fast-learner-no,
          .well-read-100-no,
          .early-bird-no,
          .high-five-yes,
          .perfect-ten-yes,
          .on-your-way-yes,
          .one-hundred-percent-club-yes,
          .service-star-yes,
          .first-5000-points-yes,
          .first-10000-points-yes,
          .we-heart-you-yes,
          .product-pro-yes,
          .high-five-yes,
          .welcome-yes,
          .little-brown-bottle-yes,
          .beauty-queen-yes,
          .rare-beauty-yes,
          .new-dimension-yes,
          .sleeping-beauty-yes,
          .we-heard-you-yes,
          .well-read-50-yes,
          .well-read-25-yes,
          .well-read-75-yes,
          .three-minute-beauty-yes,
          .fast-learner-yes,
          .well-read-100-yes,
          .early-bird-yes {
            height: 33px;
            width: 33px;
            background-size: 33px;

            .field-content {
              text-indent: -5000px;
            }
          }
        }
      }

      .view-footer {
        display: none;
      }
    }

    /* logout */
    .pane-menu-menu-header-user-menu-2 {
      ul.menu {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .three-minute-beauty-no,
    .three-minute-beauty-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-3minbeauty.svg') no-repeat 0 0;
    }

    .one-hundred-percent-club-no,
    .one-hundred-percent-club-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-100club.svg') no-repeat 0 0;
    }

    .beauty-queen-no,
    .beauty-queen-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-beautyqueen.png') no-repeat 0 0;
    }

    .early-bird-no,
    .early-bird-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-earlybird.svg') no-repeat 0 0;
    }

    .fast-learner-no,
    .fast-learner-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-fastlearner.svg') no-repeat 0 0;
    }

    .first-1000-points-no,
    .first-1000-points-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first1000.svg') no-repeat 0 0;
    }

    .first-5000-points-no,
    .first-5000-points-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first5000.svg') no-repeat 0 0;
    }

    .first-10000-points-no,
    .first-10000-points-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first10000.svg') no-repeat 0 0;
    }

    .high-five-no,
    .high-five-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-highfive.svg') no-repeat 0 0;
    }

    .little-brown-bottle-no,
    .little-brown-bottle-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-littlebrownbottle_0.png') no-repeat 0 0;
    }

    .new-dimension-no,
    .new-dimension-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-newdimension.png') no-repeat 0 0;
    }

    .on-your-way-no,
    .on-your-way-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-onyourway.svg') no-repeat 0 0;
    }

    .perfect-ten-no,
    .perfect-ten-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-perfect10.svg') no-repeat 0 0;
    }

    .product-pro-no,
    .product-pro-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-productpro.svg') no-repeat 0 0;
    }

    .rare-beauty-no,
    .rare-beauty-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-rarebeauty.png') no-repeat 0 0;
    }

    .service-star-no,
    .service-star-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-servicestarblue.svg') no-repeat 0 0;
    }

    .sleeping-beauty-no,
    .sleeping-beauty-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-sleepingbeauty.png') no-repeat 0 0;
    }

    .we-heard-you-no,
    .we-heard-you-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-weheardyou.svg') no-repeat 0 0;
    }

    .we-heart-you-no,
    .we-heart-you-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-weheartyou.svg') no-repeat 0 0;
    }

    .welcome-no,
    .welcome-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-welcome.svg') no-repeat 0 0;
    }

    .well-read-25-no,
    .well-read-25-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread25.svg') no-repeat 0 0;
    }

    .well-read-50-no,
    .well-read-50-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread50.svg') no-repeat 0 0;
    }

    .well-read-75-no,
    .well-read-75-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread75.svg') no-repeat 0 0;
    }

    .well-read-100-no,
    .well-read-100-yes {
      background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread100.svg') no-repeat 0 0;
    }

  }


ul.menu {


  li {

    &::after {
      position: relative;
      color: #9eafff;
      content: '\e614';
      font-size: 18px;
      font-weight: 700;
      float: right;
      font-family: $font-family-icons;
    }
  }

  a {
    text-decoration: none;
    color: #9eafff;
    font-size: 16px;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #1e2441;
  }
}



}

.pane-menu-menu-header-user-menu-1 {
  background: #040a2b;
}

.pane-menu-menu-header-user-menu-1 ul.menu {
  padding-left: 0;

  li {
    padding: 20px;
    border-bottom: 1px solid #1e2441;

    &:hover {
      background-color: #1e2341;
    }

    a {
      text-decoration: none;
    }
  }
}


/*Menu in dropdown during mobile and tablet*/

div#mini-panel-header_user_menu {
  background: #040a2b;

  .pane-menu-menu-header-menu ul.menu {
    padding-left: 0;

    li {
      padding: 20px;
      border-bottom: 1px solid #1e2441;

      &:hover {
        background-color: #1e2341;
      }

      a {
        text-decoration: none;
      }
    }

    @include respond-to('desktop') {
      display: none;
    }

    @include respond-to('wide') {
      display: none;
    }
    @include respond-to('xwide') {
      display: none;
    }
  }
}


/*Search form in dropdown during mobile and tablet*/

form#search-block-form--2 {

  .form-item-search-block-form::before {
    content: '\e60f';
    position: absolute;
    color: #fff;
    right: 0;
    font-family: $font-family-icons;
    line-height: 44px;
    right: 15px;
  }

  input[type='text'] {
    border-bottom: 1px solid transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: 0 0 0;
    width: 300px;
    padding: 10px 35px 10px 10px;
    background: 0 0;
    margin: 0;
    font-size: 1em;
    color: #fff;
    height: 44px;
    display: block;
    transition: .8s ease-in-out;
    line-height: 1.429;
    font-size: 18px;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      opacity: 1 !important;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      opacity: 1;
    }

    &:focus {
      width: 300px;
      outline-color: 0 transparent;
      outline: -webkit-focus-ring-color auto 0;
      outline-color: transparent;
      outline-style: auto;
      outline-width: 0;
      border-bottom: 1px solid #fff;
    }
  }

  input[type='submit'] {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  @include respond-to('desktop') {
    display: none;
  }
  @include respond-to('wide') {
    display: none;
  }
  @include respond-to('xwide') {
    display: none;
  }
}


/*Recent Badges*/

.pane-elx-recent-badges-recent-badges {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 45px;

  h2 {
    font-size: .95em;
    color: #999;
    float: left;
  }

  img {
    width: 32px;
    position: relative;
    top: 25px;
    margin-left: 5px;
  }
}

//Logout button
.pane-menu-menu-header-user-menu-2 {
  background-color: #040a2b;

  ul.menu {
    padding: 0;

    li {
      padding: 20px;

      &:hover {
        background-color: #1e2341;
      }
    }
  }
}

//My progress
.pane-my-progress {
  padding: 0 20px;
}
