// LEVELS
body.page-levels-all,
body.page-levels-completed,
body.page-levels-in-progress {

  #modalContent {

    .field-name-field-learning-category {
      font-family: $font-family-sans-serif-head;
      font-size: $font-size-lg-base;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      margin: 0 0 15px;
    }

    .field-name-field-headline {
      font-family: $font-family-serif;
      font-size: 36px;
      letter-spacing: 2px;
      font-weight: bold;
      margin: 0 0 20px;
      line-height: 1.3em;
    }

    .field-name-field-intro {
      font-size: $font-size-sm-large;
      font-family: $font-family-sans-serif;
    }

  }

}

// modal theme for "black & gold"
// used by:
// Re-Nutriv : level-250

#modalContent.level-250 {

  .ctools-modal-content {
    background: url('../images/modal_bg/black_gold.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    background-color: #000;
    color: #fff;
  }

}

// modal theme for "blue-ether"
// used by:
// Fall Preview : level-13504
// Spring Preview : level-12739

#modalContent.level-13504,
#modalContent.level-12739 {

  .ctools-modal-content {
    background: url('../images/modal_bg/blue_ether.jpg');
    background-size: cover;
    background-color: #add8e6;
  }

}

// modal theme for "blue-helix"
// used by:
// Advanced Night Repair 2 : level-1299

#modalContent.level-1299 {

  .ctools-modal-content {
    background-color: #040a2b;
    background-image: url('../images/modal_bg/blue_helix.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35%;
    color: #fff;
  }

}

// modal theme for "blue-krypton"
// used by:
// Advanced Night Repair : level-252

#modalContent.level-252 {

  .ctools-modal-content {
    background: url('../images/modal_bg/blue_krypton.jpg');
    background-size: cover;
  }

}

// modal theme for "clouds"
// used by:
// New Dimension : level-1301
// New Dimension 2 : level-12731

#modalContent.level-1301,
#modalContent.level-12731 {

  .ctools-modal-content {
    background: url('../images/modal_bg/clouds.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

}

// modal theme "gray-ether"
// used by:
// Beautiful Skin For Life : level-1300

#modalContent.level-1300 {

  .ctools-modal-content {
    background-image: url('../images/modal_bg/gray_ether.jpg');
    background-repeat: no-repeat;
  }

}

// modal theme "gmtc"
// used by:
// GMTC : level-579
#modalContent.level-579 {

  .ctools-modal-content {
    background-image: url('../images/modal_bg/gray_ether.jpg');
    background-repeat: no-repeat;
  }

}

// modal theme "holiday"
// used by:
// Holiday 2016 : level-10605
#modalContent.level-10605 {

  .ctools-modal-content {
    background-image: url('../images/modal_bg/holiday16.jpg');
    background-repeat: no-repeat;
    color: #fff;
  }

}
