// LEVELS


// modal theme for "clouds"
// used by:
// New Dimension
// New Dimension 2

#modalContent.re-nutriv {

  .ctools-modal-content {
    background: url('../images/modal_bg/black_gold.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    background-color: #000;
    color: #fff;
  }

}

// modal theme for "blue-ether"
// used by:
// Fall Preview
// Spring Preview

#modalContent.fall-preview,
#modalContent.spring-preview {

  .ctools-modal-content {
    background: url('../images/modal_bg/blue_ether.jpg');
    background-size: cover;
  }

}

// modal theme for "blue-helix"
// used by:
// Advanced Night Repair 2

#modalContent.advanced-night-repair-2 {

  .ctools-modal-content {
    background-color: #040a2b;
    background-image: url('../images/modal_bg/blue_helix.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35%;
    color: #fff;
  }

}

// modal theme for "blue-krypton"
// used by:
// Advanced Night Repair

#modalContent.advanced-night-repair {

  .ctools-modal-content {
    background: url('../images/modal_bg/blue_krypton.jpg');
    background-size: cover;
  }

}

// modal theme for "clouds"
// used by:
// New Dimension
// New Dimension 2

#modalContent.new-dimension,
#modalContent.new-dimension-2 {

  .ctools-modal-content {
    background: url('../images/modal_bg/clouds.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

}

// modal theme "gray-ether"
// used by:
// Beautiful Skin For Life

#modalContent.beautiful-skin-for-life {

  .ctools-modal-content {
    background-image: url('../images/modal_bg/gray_ether.jpg');
    background-repeat: no-repeat;
  }

}
