.h5p-clicktoreveal {


 .h5p-clicktoreveal-card-content {
    box-shadow: none;
}

.h5p-clicktoreveal-thumbnailwrap-set {
    max-width: 32em;
    margin: auto;
}


.h5p-clicktoreveal-card-text-area p {
    text-align: left;
    font-size: 18px;
    font-family: $font-family-sans-serif;

}

}

