.h5p-clicktoreveal {


 .h5p-clicktoreveal-card-content {
    box-shadow: none;
}

.h5p-clicktoreveal-thumbnailwrap-set {
    max-width: 48em;
    margin: auto;
    display: table;
    width: 100%;
}

.h5p-clicktoreveal-thumbnailimage-wrapper {
    position: relative;
}

.h5p-clicktoreveal-thumbnailwrap {
    display: table-cell;
}

.h5p-clicktoreveal-card-text-area p {
    text-align: left;
    font-size: 18px;
    font-family: $font-family-sans-serif;

}

.h5p-clicktoreveal-cardholder {
    max-width: 48em;
}



//Level specific theming

//Spring Preview

    .level-12739 & {

    .h5p-clicktoreveal-thumbnailimage-wrapper {

    &::before {
    background-color: #4ea1bf;
    opacity: .65;
    display: block;
    content: ' ';
    position: absolute;
    width: 70px;
    height: 70px;
    pointer-events: none;
 }
    }


    .h5p-clicktoreveal-current-thumbnail .h5p-clicktoreveal-thumbnailimage-wrapper {

    &::before {
    display: none !important;
}
}

.h5p-clicktoreveal-card-text-inner {
     background-color: #f6fbfd;
}

.h5p-clicktoreveal-card-content {
    background: transparent;
}

}

//Re-Nutriv

.level-250 & {

    .h5p-clicktoreveal-thumbnailimage-wrapper {

    &::before {
    background-color: #000;
    opacity: .65;
    display: block;
    content: ' ';
    position: absolute;
    width: 70px;
    height: 70px;
    pointer-events: none;
    border: 3px solid #fff;
 }
    }

    .h5p-clicktoreveal-current-thumbnail {
        border: 3px solid #fff;
    }

   .h5p-clicktoreveal-current-thumbnail .h5p-clicktoreveal-thumbnailimage-wrapper {

    &::before {
    display: none !important;
}
}

.h5p-clicktoreveal-card-text-inner {
    background-color: #000;
}

.h5p-clicktoreveal-card-text-area p {
    color: #fff;
}

    .h5p-clicktoreveal-card-content {
        background-color: transparent;
    }

}



}

