// course presentation styles
.h5p-course-presentation {

  .h5p-box-wrapper {
    background: transparent;
  }

  .h5p-presentation-wrapper {
    background-image: none;
    background: transparent;

    .h5p-element-outer.h5p-questionset-outer-element {
      background: none;
      background-image: none;
    }

  }

  // **************
  // SPRING PREVIEW
  //***************
   .level-12739 & {

     .h5p-progressbar .h5p-progressbar-part-show {
       background: #4ea1bf !important;
       background-image: none !important;
     }

   }

  // *********
  // RE-NUTRIV
  // *********
  .level-250 & {

     .h5p-progressbar .h5p-progressbar-part-show {
       background: #9a7d46 !important;
       background-image: none !important;
     }

  }

}
