// DRAG MATCH

// general overrides
/*
.question-container.h5p-question.h5p-dialogcards {
  font-family: $font-family-sans-serif-head;
  background: transparent;

  .h5p-advanced-text {
    font-family: $font-family-sans-serif;
    font-size: $font-size-lg-medium;
  }

  .h5p-question-introduction {
    font-family: $font-family-serif;
    font-size: $font-size-lg-medium;
    text-transform: uppercase;
    letter-spacing: 2px;

    &::before {
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
      display: inline-block;
      margin: 10px 0;
      letter-spacing: 2px;
    }

  }

  ul.h5p-answers {

    &::before {
      font-size: $font-size-sm-small;
      display: inline-block;
      margin: 10px 0;
      letter-spacing: 2px;
    }

  }

}
*/

// *******
// HOLIDAY
//********
// Holiday 2015 : level-10605
// Holiday 2016 : level-14108
%dialog-cards-holiday {

  .h5p-content.h5p-initialized.h5p-no-frame {
    background: transparent;
  }

  .h5p-dialogcards {
    min-height: 360px;

    .h5p-dialogcards-cardwrap-set {
      min-height: 220px;
      color: #000;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
      letter-spacing: 2px;
    }

  }

  .h5p-dialogcards-card-footer {

    .h5p-dialogcards-turn.h5p-joubelui-button {
      color: #fff;
      background: transparent;
      margin: 0 0 0 20px;

      &::before {
        font-size: $font-size-lg-medium;
        color: #000;
      }

      &:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

    }

  }

  .h5p-dialogcards-footer {

    .h5p-dialogcards-progress {
      color: #fff;
      font-weight: bold;
    }

    .h5p-joubelui-button {
      background: #fff;
    }

  }

}
