// COMPONENTS
@import 'click-to-reveal';
@import 'course-presentation';
@import 'dialog-cards';
@import 'drag-match';
@import 'multiple-choice';

// generic h5p styles

.h5p-course-presentation {
    font-family: $font-family-sans-serif;
}

.h5p-element.h5p-transparent {
    width: 100% !important;
    height: 83.43% !important;
    top: 0 !important;
    left: 0 !important;
}

.h5p-iframe-wrapper {
  max-height: 2000px;
}
