// starting iframe content tweaks
body {
  background: transparent;
}

body div.h5p-content {
  background: transparent;
}

.h5p-course-presentation {

  .h5p-box-wrapper {
    background: transparent;
  }

  .h5p-presentation-wrapper {
    background-image: none;
    background: transparent;

    .h5p-element-outer.h5p-questionset-outer-element {
      background: none;
      background-image: none;
    }

  }

}
