%interactive-video-common {

    .h5p-dialog-interaction {
      padding: 0 20px;
      font-family: $font-family-serif;

    }




}


%interactive-video-holiday {

.h5p-interactive-video div > .h5p-interaction-button   {
    background: #c80000;

    &:hover {
        background: #600;
    }

}

.h5p-question-introduction p {
    color: black !important;
}

}





