// MULTIPLE CHOICE
%multiple-choice-common {

  .question-container.h5p-question.h5p-multichoice {
    font-family: $font-family-sans-serif-head;

    .h5p-question-introduction {
      font-family: $font-family-serif;
      font-size: $font-size-lg-medium;
      text-transform: uppercase;
      letter-spacing: 2px;

      /*
      // this needs to be done in code so we can get the translation
      &::before {
        content: 'QUESTION:';
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm-small;
        display: inline-block;
        margin: 10px 0;
        letter-spacing: 2px;
      }
      */

    }

    ul.h5p-answers {

      /*
      // this needs to be done in code so we can get the translation
      &::before {
        content: 'ANSWERS:';
        font-size: $font-size-sm-small;
        display: inline-block;
        margin: 10px 0;
        letter-spacing: 2px;
      }
      */

    }

  }

}
// For multichoice with an iFrame

.h5p-question {
  background: transparent;
}


.h5p-multichoice .h5p-alternative-container {
  background: none;
  border: 0;
  box-shadow: none;

}

.h5p-element-outer.h5p-questionset-outer-element {
  background: transparent !important;
}



// **************
// HOLIDAY 2016
//***************
// Holiday 2015 : level-10605
// Holiday 2016 : level-14108
%multiple-choice-holiday {

  .questionset {

    .question-container.h5p-question.h5p-multichoice {
      color: #fff !important;
      background: none;

       p {
         color: #fff !important;
       }

      .h5p-alternative-container {
        border: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &::before {
          color: #fff;
        }

      }

      .h5p-answer {

        &:hover {
          border: 0;
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      }

      .h5p-answer[aria-checked='true'] {
        color: #fff;

        .h5p-alternative-container {
          color: #fff;
          font-weight: bold;
        }

      }

      .h5p-feedback-text {
        color: #000;
      }

      .h5p-question-check-answer.h5p-joubelui-button,
      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {
        width: auto;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm-small;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #600;
        background: none;
        background-color: #fff;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px 15px;
      }

      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {

        &::before {
          font-family: $font-family-sans-serif;
          font-size: $font-size-sm-small;
          letter-spacing: 2px;
        }

      }

      .h5p-question-next.h5p-joubelui-button {
        &::before {
          content: 'NEXT';
        }
      }

      .h5p-question-prev.h5p-joubelui-button {
        &::before {
          content: 'BACK';
        }
      }

    }

    .qs-footer {

      .progress-dot {
        background: rgba(255, 255, 255, .3);
      }

      .progress-dot.current {
        background: rgba(255, 255, 255, 1);
      }

    }

    .h5p-question-feedback-content {
      color: #000;
    }

  }

}


// ******************************************
// FALL/SPRING PREVIEW, BEAUTIFUL SKIN & GMTC
//*******************************************
// Fall Preview : level-13504
// Spring Preview : level-12739
// GMTC : level-579
// Beautiful Skin For Life : level-1300
%multiple-choice-dark-on-light {

  .questionset {

    .question-container.h5p-question.h5p-multichoice {
      color: #000;
      background: none;

      .h5p-alternative-container {
        border: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &::before {
          color: #000;
        }

      }

      .h5p-answer {

        &:hover {
          border: 0;
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      }

      .h5p-answer[aria-checked='true'] {
        color: #000;

        .h5p-alternative-container {
          color: #000;
          font-weight: bold;
        }

      }

      .h5p-feedback-text {
        color: #000;
      }

      .h5p-question-check-answer.h5p-joubelui-button,
      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {
        width: auto;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm-small;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        background: none;
        background-color: #4ea1bf;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px 15px;
      }

      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {

        &::before {
          font-family: $font-family-sans-serif;
          font-size: $font-size-sm-small;
          letter-spacing: 2px;
        }

      }

      .h5p-question-next.h5p-joubelui-button {
        &::before {
          content: 'NEXT';
        }
      }

      .h5p-question-prev.h5p-joubelui-button {
        &::before {
          content: 'BACK';
        }
      }

    }

    .qs-footer {

      .progress-dot {
        background: rgba(255, 255, 255, .3);
      }

      .progress-dot.current {
        background: rgba(255, 255, 255, 1);
      }

    }

    .h5p-question-feedback-content {
      color: #4ea1bf;
    }

    button.h5p-question-show-solution.h5p-joubelui-button,
    button.h5p-question-try-again.h5p-joubelui-button,
    button.h5p-question-finish.h5p-joubelui-button {
      background: #4ea1bf;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
    }

  }

  .h5p-element-inner .questionset-results {
    background: transparent !important;
    font-family: $font-family-sans-serif;
    color: #4ea1bf;

    .greeting,
    .feedback-text {
      font-family: $font-family-sans-serif;
      color: #4ea1bf;
      font-size: $font-size-sm-extralarge;
    }

    .result-header {
      font-family: $font-family-serif;
      color: #4ea1bf;
      font-size: $font-size-lg-extralarge;
      letter-spacing: 3px;
    }

    .result-text {
      font-family: $font-family-serif;
      color: #4ea1bf;
      font-size: $font-size-lg-large;
      letter-spacing: 3px;

    }

    button.h5p-joubelui-button.h5p-button.qs-solutionbutton,
    button.h5p-joubelui-button.h5p-button.qs-retrybutton {
      background: #4ea1bf;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;

    }

  }

}


// *******************************
// NEW DIMENSION & NEW DIMENSION 2
//********************************
// New Dimension : level-1301
// New Dimension 2 : level-12731
%multiple-choice-clouds {

  .questionset {

    .question-container.h5p-question.h5p-multichoice {
      color: #fff;
      background: none;

      .h5p-question-introduction {
        font-weight: 600;
      }

      .h5p-alternative-container {
        border: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &::before {
          color: #fff;
        }

      }

      .h5p-answer {

        &:hover {
          border: 0;
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      }

      .h5p-answer[aria-checked='true'] {
        color: #fff;

        .h5p-alternative-container {
          color: #fff;
          font-weight: bold;
        }

      }

      .h5p-feedback-text {
        color: #fff;
      }

      .h5p-question-check-answer.h5p-joubelui-button,
      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {
        width: auto;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm-small;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        background: none;
        background-color: #4ea1bf;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px 15px;
      }

      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {

        &::before {
          font-family: $font-family-sans-serif;
          font-size: $font-size-sm-small;
          letter-spacing: 2px;
        }

      }

      .h5p-question-next.h5p-joubelui-button {
        &::before {
          content: 'NEXT';
        }
      }

      .h5p-question-prev.h5p-joubelui-button {
        &::before {
          content: 'BACK';
        }
      }

    }

    .qs-footer {

      .progress-dot {
        background: rgba(255, 255, 255, .3);
      }

      .progress-dot.current {
        background: rgba(255, 255, 255, 1);
      }

    }

    .h5p-question-feedback-content {
      color: #fff;
    }

    button.h5p-question-show-solution.h5p-joubelui-button,
    button.h5p-question-finish.h5p-joubelui-button,
    button.h5p-question-try-again.h5p-joubelui-button {
      background: #4ea1bf;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
    }

  }

  .h5p-element-inner .questionset-results {
    background: transparent !important;
    font-family: $font-family-sans-serif;
    color: #fff;

    .greeting,
    .feedback-text {
      font-family: $font-family-sans-serif;
      color: #fff;
      font-size: $font-size-sm-extralarge;
    }

    .result-header {
      font-family: $font-family-serif;
      color: #fff;
      font-size: $font-size-lg-extralarge;
      letter-spacing: 3px;
    }

    .result-text {
      font-family: $font-family-serif;
      color: #fff;
      font-size: $font-size-lg-large;
      letter-spacing: 3px;

    }

    button.h5p-joubelui-button.h5p-button.qs-solutionbutton,
    button.h5p-joubelui-button.h5p-button.qs-retrybutton {
      background: #080f30;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;

    }

  }

}

// ****************************
// ADVANCED NIGHT REPAIR 1 & 2
//*****************************
// Advanced Night Repair : level-252
// Advanced Night Repair 2 : level-1299
%multiple-choice-anr {

  .questionset {

    .question-container.h5p-question.h5p-multichoice {
      color: #fff;
      background: none;

      .h5p-question-introduction {
        font-weight: 600;
      }

      .h5p-alternative-container {
        border: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &::before {
          color: #fff;
        }

      }

      .h5p-answer {

        &:hover {
          border: 0;
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      }

      .h5p-answer[aria-checked='true'] {
        color: #fff;

        .h5p-alternative-container {
          color: #fff;
          font-weight: bold;
        }

      }

      .h5p-feedback-text {
        color: #080f30;
      }

      .h5p-question-check-answer.h5p-joubelui-button,
      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {
        width: auto;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm-small;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        background: none;
        background-color: #080f30;
        border: 1px solid #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px 15px;
      }

      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {

        &::before {
          font-family: $font-family-sans-serif;
          font-size: $font-size-sm-small;
          letter-spacing: 2px;
        }

      }

      .h5p-question-next.h5p-joubelui-button {
        &::before {
          content: 'NEXT';
        }
      }

      .h5p-question-prev.h5p-joubelui-button {
        &::before {
          content: 'BACK';
        }
      }

    }

    .qs-footer {

      .progress-dot {
        background: rgba(255, 255, 255, .3);
      }

      .progress-dot.current {
        background: rgba(255, 255, 255, 1);
      }

    }

    .h5p-question-feedback-content {
      color: #fff;
    }

    button.h5p-question-show-solution.h5p-joubelui-button,
    button.h5p-question-try-again.h5p-joubelui-button,
    button.h5p-question-finish.h5p-joubelui-button  {
      background: #080f30;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
    }

  }

}


// *********
// RE-NUTRIV
//***********
// Re-Nutriv : level-250
%multiple-choice-black-gold {

  .questionset {

    .question-container.h5p-question.h5p-multichoice {
      color: #fff;
      background: none;

      .h5p-question-introduction {
        font-weight: 600;
      }

      .h5p-alternative-container {
        border: 0;
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &::before {
          color: #9a7d46;
        }

      }

      .h5p-answer {

        &:hover {
          border: 0;
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      }

      .h5p-answer[aria-checked='true'] {
        color: #9a7d46;

        .h5p-alternative-container {
          color: #fff;
          font-weight: bold;
        }

      }

      .h5p-feedback-text {
        color: #080f30;
      }

      .h5p-question-check-answer.h5p-joubelui-button,
      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {
        width: auto;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm-small;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
        background: none;
        background-color: #000;
        border: 1px solid #9a7d46;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 5px 15px;
      }

      .h5p-question-next.h5p-joubelui-button,
      .h5p-question-prev.h5p-joubelui-button {

        &::before {
          font-family: $font-family-sans-serif;
          font-size: $font-size-sm-small;
          letter-spacing: 2px;
        }

      }

      .h5p-question-next.h5p-joubelui-button {
        &::before {
          content: 'NEXT';
        }
      }

      .h5p-question-prev.h5p-joubelui-button {
        &::before {
          content: 'BACK';
        }
      }

    }

    .qs-footer {

      .progress-dot {
        background: rgba(255, 255, 255, .3);
      }

      .progress-dot.current {
        background: rgba(255, 255, 255, 1);
      }

    }

    .h5p-question-feedback-content {
      color: #fff;
    }

    button.h5p-question-show-solution.h5p-joubelui-button,
    button.h5p-question-try-again.h5p-joubelui-button,
    button.h5p-question-finish.h5p-joubelui-button  {
      background: #000;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
    }

  }

  .h5p-element-inner .questionset-results {
    background: transparent !important;
    font-family: $font-family-sans-serif;
    color: #fff;

    .greeting,
    .feedback-text {
      font-family: $font-family-sans-serif;
      color: #fff;
      font-size: $font-size-sm-extralarge;
    }

    .result-header {
      font-family: $font-family-serif;
      color: #9a7d46;
      font-size: $font-size-lg-extralarge;
      letter-spacing: 3px;
    }

    .result-text {
      font-family: $font-family-serif;
      color: #fff;
      font-size: $font-size-lg-large;
      letter-spacing: 3px;

    }

    button.h5p-joubelui-button.h5p-button.qs-solutionbutton,
    button.h5p-joubelui-button.h5p-button.qs-retrybutton {
      background: #000;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm-small;
      border: 1px solid #9a7d46;

    }

  }

}

