//General theming for Spin the Wheel layout


body.spin-the-wheel {


.h5p-iframe-wrapper {
    width: 600px;
    height: auto;
    float: left;

&::after {
    display: block;
    clear: both;
    content: ' ';
    margin-bottom: 50px;

}
}

.field-name-field-spin-the-wheel {
    float: left;
    margin-right: 50px;
    margin-bottom: 30px;
}

.flag-outer.flag-outer-favorites {
    clear: both;
}


.flag-favorites a {
    font-size: 0;
    text-decoration: none;


&::before {
    content: '\e60c';
    color: #fff;
    font-family: $font-family-icons;
    font-size: 26px;
}

}

}



