/* BADGES */

.page-badges {

  h1 {

    font-family: $font-family-serif;
    font-size: 4em;
    text-align: center;

  }

  .views-row {

    width: 85%;
    margin: 0 auto;

  }

  /* initial override invisible state */
  .ctools-modal-content {
    opacity: 0;
    visibility: hidden;

    .badge-hide {
      display: none;
    }
  }

  #modalBackdrop.badge-modal-backdrop-area {
    background-color: #040a2b !important;
    opacity: '0.8';
  }

  #modalContent.modal-default {
    width: 400px;
  }

  #modalContent.badge-modal-content-area {
    width: 34%;
    margin-top: 50px;
    margin-left: 10px;
    background-color: white;
    overflow: visible !important;

    a.close {
      cursor: pointer;
    }
  }

  #modalContent {

    .modal-header {

      width: 100%;
      position: absolute;

      a {
        top: 0;
        right: -50px;
      }
    }

    .badge-img {
      display: block;
      margin: -35px auto 0;
    }

    .badge-title {
      display: block;
      margin: 25px auto;
      font-family: $font-family-serif;
      text-align: center;
    }
  }
}

.page-badges,
.page-user,
.pane-elx-recent-badges-recent-badges {

  .views-row {

    .views-field {
      width: 142px;
      height: 142px;
      float: left;
      margin: 0 13px 26px;
      background-size: 142px 142px;

      a {
        display: inline-block;
        width: 142px;
        height: 142px;
        text-indent: -5000px;
      }

    }
  }
}


.page-badges {

  .view-footer {
    display: none;
  }

  .three-minute-beauty-no,
  .three-minute-beauty-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-3minbeauty.svg') no-repeat 0 0;
  }

  .one-hundred-percent-club-no,
  .one-hundred-percent-club-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-100club.svg') no-repeat 0 0;
  }

  .beauty-queen-no,
  .beauty-queen-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-beautyqueen.png') no-repeat 0 0;
  }

  .early-bird-no,
  .early-bird-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-earlybird.svg') no-repeat 0 0;
  }

  .fast-learner-no,
  .fast-learner-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-fastlearner.svg') no-repeat 0 0;
  }

  .first-1000-points-no,
  .first-1000-points-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first1000.svg') no-repeat 0 0;
  }

  .first-5000-points-no,
  .first-5000-points-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first5000.svg') no-repeat 0 0;
  }

  .first-10000-points-no,
  .first-10000-points-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first10000.svg') no-repeat 0 0;
  }

  .high-five-no,
  .high-five-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-highfive.svg') no-repeat 0 0;
  }

  .little-brown-bottle-no,
  .little-brown-bottle-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-littlebrownbottle_0.png') no-repeat 0 0;
  }

  .new-dimension-no,
  .new-dimension-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-newdimension.png') no-repeat 0 0;
  }

  .on-your-way-no,
  .on-your-way-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-onyourway.svg') no-repeat 0 0;
  }

  .perfect-ten-no,
  .perfect-ten-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-perfect10.svg') no-repeat 0 0;
  }

  .product-pro-no,
  .product-pro-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-productpro.svg') no-repeat 0 0;
  }

  .rare-beauty-no,
  .rare-beauty-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-rarebeauty.png') no-repeat 0 0;
  }

  .service-star-no,
  .service-star-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-servicestarblue.svg') no-repeat 0 0;
  }

  .sleeping-beauty-no,
  .sleeping-beauty-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-sleepingbeauty.png') no-repeat 0 0;
  }

  .we-heard-you-no,
  .we-heard-you-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-weheardyou.svg') no-repeat 0 0;
  }

  .we-heart-you-no,
  .we-heart-you-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-weheartyou.svg') no-repeat 0 0;
  }

  .welcome-no,
  .welcome-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-welcome.svg') no-repeat 0 0;
  }

  .well-read-25-no,
  .well-read-25-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread25.svg') no-repeat 0 0;
  }

  .well-read-50-no,
  .well-read-50-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread50.svg') no-repeat 0 0;
  }

  .well-read-75-no,
  .well-read-75-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread75.svg') no-repeat 0 0;
  }

  .well-read-100-no,
  .well-read-100-yes {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread100.svg') no-repeat 0 0;
  }

  .three-minute-beauty-no,
  .one-hundred-percent-club-no,
  .beauty-queen-no,
  .early-bird-no,
  .fast-learner-no,
  .first-1000-points-no,
  .first-5000-points-no,
  .first-10000-points-no,
  .high-five-no,
  .little-brown-bottle-no,
  .new-dimension-no,
  .on-your-way-no,
  .perfect-ten-no,
  .product-pro-no,
  .rare-beauty-no,
  .service-star-no,
  .sleeping-beauty-no,
  .we-heard-you-no,
  .we-heart-you-no,
  .welcome-no,
  .well-read-25-no,
  .well-read-50-no,
  .well-read-75-no,
  .well-read-100-no {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }


  // gnav exception //
  .qtip-content.qtip-content {
    #mini-panel-header_user_menu {
    /*  .pane-levels-quizz-progress-closest-completion {
        .user-progress-bar {
          background-color: #1e2341;
        }
        .views-field-expression {
          .progress-bar-percentage {
            left: 30px;
          }
        }
      } */

      .pane-dashboard-user-my-points {
        .views-row.views-row-1.views-row-odd.views-row-first.views-row-last {
          width: 100%;
        }
        .view-display-id-my_points {
          margin: 0;

          .views-field-points {
            width: 100%;
            margin: 0;

            .field-content::before {
              margin-left: 86px;
            }
            .field-content {
              margin-left: 46px;
            }
          }
        }
      }

      .pane-dashboard-user-activities-suggested {
        .view-display-id-suggested {
          .views-field-field-headline {
            margin: 0;

            .field-content {
              text-align: left;
              padding: 0;
            }
          }
        }
      }
    }
  }

}
