/* BADGES */
.page-badges {

  .views-row {
    > div {
      width: 142px;
      height: 142px;
      float: left;
      text-indent: -5000px;
      margin: 0 13px 26px;
      background-size: 142px 142px;
    }
  }

  .three-minute-beauty {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-3minbeauty.svg') no-repeat 0 0;
  }

  .one-hundred-percent-club {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-100club.svg') no-repeat 0 0;
  }

  .beauty-queen {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-beautyqueen.png') no-repeat 0 0;
  }

  .early-bird {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-earlybird.svg') no-repeat 0 0;
  }

  .fast-learner {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-fastlearner.svg') no-repeat 0 0;
  }

  .first-1000-points {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first1000.svg') no-repeat 0 0;
  }

  .first-5000-points {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first5000.svg') no-repeat 0 0;
  }

  .first-10000-points {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-first10000.svg') no-repeat 0 0;
  }

  .high-five {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-highfive.svg') no-repeat 0 0;
  }

  .little-brown-bottle {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-littlebrownbottle_0.png') no-repeat 0 0;
  }

  .new-dimension {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-newdimension.png') no-repeat 0 0;
  }

  .on-your-way {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-onyourway.svg') no-repeat 0 0;
  }

  .perfect-ten {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-perfect10.svg') no-repeat 0 0;
  }

  .product-pro {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-productpro.svg') no-repeat 0 0;
  }

  .rare-beauty {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-rarebeauty.png') no-repeat 0 0;
  }

  .service-star {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-servicestarblue.svg') no-repeat 0 0;
  }

  .sleeping-beauty {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-sleepingbeauty.png') no-repeat 0 0;
  }

  .we-heard-you {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-weheardyou.svg') no-repeat 0 0;
  }

  .we-heart-you {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-weheartyou.svg') no-repeat 0 0;
  }

  .welcome {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-welcome.svg') no-repeat 0 0;
  }

  .well-read-25 {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread25.svg') no-repeat 0 0;
  }

  .well-read-50 {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread50.svg') no-repeat 0 0;
  }

  .well-read-75 {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread75.svg') no-repeat 0 0;
  }

  .well-read-100 {
    background: url('/sites/all/themes/elx_front/images/badges/ELX-Badge125x125-wellread100.svg') no-repeat 0 0;
  }

}
