/* MODALS DEFAULT STYLES */
body.ctools-modal-open {
  overflow: hidden;
}

.modal-default {

  div.modal-header {
    background: none;
    height: 200px;

    .modal-title {
      display: none;
    }

    a.close {
      width: 32px;
      height: 32px;
      background: url('/sites/all/themes/elx_front/images/buttons_etc/spr-modal.png') no-repeat -105px top;
    }

  }

  .modal-content {
    font-family: $font-family-sans-serif;

    > div.node-h5p-content {
      max-width: 970px;
      margin: 0 auto;
    }

    article {
      max-width: 1170px;
      margin: 0 auto;

      h2 {
        font-family: $font-family-serif;
        font-size: $font-size-lg-large;
      }

    }

  }

}
