body.section-user.page-user {

  #modalContent {
    .ctools-modal-content {
      .modal-header {
        a.close {
          right: -50px;
          top: 0;
          background-color: lightgray;
        }
      }
    }
  }

  //.page-badges .views-row .views-field a,
  .views-row {
    .views-field {
      a {
        text-indent: 0;
      }
    }
  }

  main.layout-3col__full {

    > h1,
    ul.tabs {
      display: none;
    }

/*
    .panels-flexible-column-new-main {

    }
*/
    .panels-flexible-column-new-1 {
      float: right;
      background-color: #e6e9ee;

          h2.pane-title {
            margin: 40px auto;
            text-align: center;
            font-family: 'optimadisplaylightlight';
            font-size: 3em;
            font-weight: normal;
          }
    }

/*
    // dp dp //
    .panels-flexible-row.panels-flexible-row-new-main-row {
      .panels-flexible-region-new-user_information {

      }
    }

    // head piece //
    .panels-flexible-row.panels-flexible-row-new-3 {
      .panels-flexible-region-new-user_information_left {

      }
      .panels-flexible-region-new-user_information_right {

      }
    }
*/

    .panels-flexible-row.panels-flexible-row-new-4,
    .panels-flexible-row.panels-flexible-row-new-5,
    .panels-flexible-row.panels-flexible-row-new-6 {
      background-color: #040a2b;
      color: #fff;
      text-transform: uppercase;
      // width: 1024px;
      width: 100%;
    }

    // 10 progress count //
    .panels-flexible-row.panels-flexible-row-new-4 {

      .panels-flexible-region-new-my_progress_levels {
        // .pane-levels-quizz-progress-closest-completion {

          .view-content .views-field.views-field-name {
            display: none;
          }

          .view-content .views-field.views-field-expression {
            height: 100px;
            margin: 0 auto;
            width: 95%;

            .user-progress-bar {
              background-color: white;
              box-shadow: 1px 3px 10px gray inset;
              display: block;
              height: 24px;
              margin: 50px auto 50px 70px;
              width: 95%;

              .progress-bar-percentage {
                font-family: arial, 'optimadisplaylightlight';
                font-size: 1.4em;
                font-weight: bold;
                margin-left: -50px;
                position: absolute;
                width: 130px;
              }

              .user-progress {
                animation: 2s ease 0s normal forwards 1 running progress;
                background: black url('../images/progress-bar.png') repeat scroll 0 0;
                display: block;
                height: 24px;
                width: 0;
              }
            }

          // }

          .view-content .views-field.views-field-name {
            display: none;
          }
        }

      }
    }

    // my points
    .panels-flexible-row.panels-flexible-row-new-5 {

      font-size: 1.2em;

      .panels-flexible-region-new-my_progress_last_login {

        .view-id-dashboard_user.view-display-id-last_login {

          .view-content .views-field.views-field-login {
            height: 50px;
            margin: 0 auto 0 20px;
            width: 100%;
            text-transform: uppercase;

            .views-label {
              font-weight: bold;
            }
          }

        }


      }

      // my progress my points
      .panels-flexible-region-new-my_progress_my_points {

        .panels-flexible-region-new-my_progress_my_points-inside {

          .view-content .views-field.views-field-points {
            height: 50px;
            margin: 0 auto;
            width: 100%;
            text-transform: uppercase;

            .views-label {
              font-weight: bold;
            }

          }

        }

      }

    }

    // blue box //
    .panels-flexible-row.panels-flexible-row-new-6 {

      .panels-flexible-region-new-my_progress_recently_completed_activites {

        .view-id-dashboard_user_activities.view-dashboard-user-activities {

          .view-content .views-row a {
            color: #9eafff;
          }

          .views-field.views-field-field-headline,
          .views-field.views-field-field-headline a {
              height: 50px;
              margin: -2px 10px;
              width: 100%;
          }

          .views-field.views-field-field-display-title {
            display: none;
          }

        }

      }

      .panels-flexible-region-new-my_progress_suggested_for_you {

        .view-id-dashboard_user_activities.view-dashboard-user-activities {

          .view-content .views-row a {
            color: #9eafff;
          }

          .views-field.views-field-field-headline,
          .views-field.views-field-field-headline a {
              height: 50px;
              margin: -2px 10px;
              width: 100%;

              display: none;
          }

          .views-field.views-field-field-display-title {
            display: block; // none;
            width: 100%;
            height: 50px;

            .field-content {
              width: 100%;
              height: 50px;
            }

            .field-content a {
              color: white;
              width: 100%;
              height: 50px;
              text-decoration: none;
            }

            .field-content a::before {
              color: white;
              font-weight: normal;
              font-size: 1.2em;
              content: 'SUGGESTED FOR YOU: ';
            }

          }

        }

      }

    }

    // badges
    // changed // .panels-flexible-row.panels-flexible-row-new-7 {
    .panels-flexible-row.panels-flexible-row-new-8 {
      // .panels-flexible-region-new-my_badges {
/*
      .panels-flexible-region-new-my_leaderboard  {
        // .panels-flexible-region-new-my_badges-inside {

          h2.pane-title {
            padding-top: 50px;
            margin: 40px auto;
            text-align: center;
            font-family: 'optimadisplaylightlight';
            font-size: 3em;
            font-weight: normal;
          }

          .view-badges.view-id-badges {

            .more-link {
              display: none;
            }

            .views-row {
              width: 600px;
              margin: 0 auto;

              .views-field {
                margin: 0;
                transform: scale(.8);

                .field-content {

                  a {
                    text-indent: -5000px;
                  }

                }

              }

            }

          }

        // }

      }

      // MY FAVORITES
      .panel-pane.pane-views.pane-dashboard-favorites {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
      }

    // }
*/

    // leaderboard
    // //.panels-flexible-row.panels-flexible-row-new-8 {
    // .panels-flexible-row.panels-flexible-row-new--changed--8 {
      margin: 50px 0;

      .panels-flexible-region-new-my_leaderboard {

        .view-badges.view-id-badges {

            .more-link {
              display: none;
            }

            .views-row {
              width: 600px;
              margin: 0 auto;

              .views-field {
                margin: 0;
                transform: scale(.8);

                .field-content {

                  a {
                    text-indent: -5000px;
                  }

                }

              }

            }

        }

        // MY FAVORITES
        .panel-pane.pane-views.pane-dashboard-favorites {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
        }


        .pane-user-points-panel-pane-2 {

          h2.pane-title {
            padding-top: 100px;
            margin: 40px auto;
            text-align: center;
            font-family: 'optimadisplaylightlight';
            font-size: 3em;
            font-weight: normal;
          }

          .view-id-user_points {
            height: 50px;
            margin: 0;

            .view-content {
              height: 40px;
              background-color: #040a2b;
              color: #fff;
            }

            .views-field {
              height: 50px;
              width: 20%;
            }

          }

        }

        .pane-user-points-dashboard-user-points {

          .view-display-id-dashboard_user_points {

            .item-list {

              // ul {

                li.views-row {
                  clear: left;
                  border: 0 solid white;
                  width: 100%; // 880px; //
                  height: 125px;
                  list-style: none;
                  list-style-position: inside;
                  padding: 0;
                  margin: 0;
                  border-bottom: 1px solid lightgray;

                  .views-field {
                    height: 50px;
                    width: 15%;
                  }

                  .views-field.views-field-counter {
                    float: left;
                    height: 50px;
                    margin: 0;
                    width: 100px;
                  }
/*
                  .views-field.views-field-field-last-name {

                  }

                  .views-field.views-field-user-gravatar-picture {

                  }

                  .views-fieldviews-field-field-country {

                  }

                  .views-field.views-field-points-1 {

                  }
*/
                }

              // }

            }

          }

        }

      }

    }

    // tools
    .panels-flexible-row-new-8 {

      margin: 50px 0;

      .panels-flexible-region-new-my_leaderboard {
      // changed // .panels-flexible-region-new-my_tools {

        h2.pane-title {
          padding-top: 50px;
          margin: 40px auto;
          text-align: center;
          font-family: 'optimadisplaylightlight';
          font-size: 3em;
          font-weight: normal;
          clear: both;
        }

        .item-list {

          // ul {

            li.views-row {
              border: 0 solid white;
              width: 880px;
              height: 220px;
              list-style: none;
              list-style-position: inside;
              padding: 0;
              margin: 0 25px;

              .views-field.views-field-field-display-title {

                 position: absolute;
                 margin: 0;
                 width: 500px;
                 height: 100px;

                 // .field-content {
                 .field-content a {
                    font-family: 'optimadisplaylightlight';
                    position: absolute;
                    top: 15px;
                    left: 250px;
                    width: 500px;
                    color: #040a2b;
                    font-size: 1.4em;
                    position: absolute;
                    text-decoration: none;
                  }

                // }

              }

              .views-field.views-field-field-tool-thumbnail {
                 float: left;
                 clear: left;
                 height: 200px;
                 margin: 10px;

                .field-content {

                  a {
                    background-size: 0;
                    height: 150px;
                    margin: 0;
                    width: 250px;
                  }

                }

              }

            } // li

          // } // ul

        }

      }

    }

  }

  /*
  // .pane-elx-recent-badges-recent-badges,
   .views-row .views-field a {
    display: inline-block;
    height: 142px;
    text-indent: -5000px;
  //}
  // */

  main.dashboard-override {
    margin-bottom: 300px;

    .elx-neck-name {
      width: 300px;
      text-align: center;
      margin: 25px auto;
      font-size: 2em;
      font-family: $font-family-serif;
    }

    .two-by-two-ux {
      margin: 100px auto;
      width: 65%;
      padding-left: 50px;
      padding-bottom: 100px;

      .r1xc1,
      .r1xc2,
      .r2xc1,
      .r2xc2,
      .r3xc1,
      .r4 {

        label {
          text-transform: uppercase;
          font-size: 1.3em;
          float: left;
          letter-spacing: 1px;
        }

        span {
          margin-left: 12px;
          font-size: 1.3em;
          float: left;
          font-family: $font-family-serif;
          font-weight: bold;
        }

      }

      .btn-edit-profile {
        border: 1px solid #a4a4ab;
        margin: 20px auto 0;
        font-size: '0.8em';
        height: 50px;
        letter-spacing: '0.1em';
        padding-top: 11px;
        width: 360px;
        cursor: pointer;

        span {
          color: #a4a4ab;
          text-transform: uppercase;
          height: 50px;
          margin: 0 auto;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }

        span::before {
          content: 'Óòê';
          font-family: $font-family-icons;
          color: #a4a4ab;
          padding: 12px;
        }
      }

      .r1xc1,
      .r1xc2,
      .r2xc1,
      .r2xc2 {
        width: 50%;
        height: 60px;
      }

      .r3xc1,
      .r4 {
        width: 100%;
      }

      .r3xc1 {
        height: 60px;
      }

      .r4 {
        height: 90px;
      }

      .r1xc1,
      .r2xc1,
      .r3xc1,
      .r4 {
        clear: left;
        float: left;
      }

      .r1xc2,
      .r2xc2,
      .r3xc1,
      .r4 {
        float: left;
      }

    }

    .elx-round-container {
      width: 200px;
      margin: 0 auto;

      .elx-inner-round {
        height: 200px;
        width: 200px;
        border: 3px solid gold;
        border-radius: 200px;
        background-color: #f0f8ff;
        background-image: url('/sites/all/themes/elx_front/images/user/elx-circle-bg.png');
      }

      .elx-inner-round::before {
        border-top: 1px solid #ccc;
        content: ' ';
        display: block;
        float: left;
        height: 1px;
        margin-left: -200px;
        margin-top: 90px;
        width: 150px;
      }

      .elx-inner-round::after {
        border-top: 1px solid #ccc;
        content: ' ';
        display: block;
        float: right;
        height: 1px;
        margin-right: -200px;
        margin-top: 90px;
        width: 150px;
      }

    }

  } // override //

}
