body.section-user.page-user {

  #modalContent {
    .ctools-modal-content {
      .modal-header {
        a.close {
          right: -50px;
          top: 0;
          background-color: lightgray;
        }
      }
    }
  }

  .views-row {
    .views-field {
      a {
        text-indent: 0;
      }
    }
  }

  main.layout-3col__full {

    > h1,
    ul.tabs {
      display: none;
    }

    .panel-flexible-inside.panels-flexible-new-inside {

      .panels-flexible-row.panels-flexible-row-new-main-row,
      .panels-flexible-row.panels-flexible-row-new-3 {
        display: none;
      }

    }

    .panel-flexible-inside.panels-flexible-new-inside::before {

      clear: both;
      font-family: 'optimadisplaylightlight';
      font-weight: normal;
      margin: 50px;
      padding-top: 100px;
      text-align: center;

      content: 'My Progress';
      display: block;
      font-size: 3em;

    }

    .panels-flexible-column-new-1 {
      float: right;
      background-color: #e6e9ee;

      h2.pane-title {
        margin: 40px auto;
        text-align: center;
        font-family: 'optimadisplaylightlight';
        font-size: 3em;
        font-weight: normal;
      }

    }

    .panels-flexible-row.panels-flexible-row-new-4,
    .panels-flexible-row.panels-flexible-row-new-5,
    .panels-flexible-row.panels-flexible-row-new-6 {
      background-color: #1e2341; // #040a2b;
      color: #fff;
      text-transform: uppercase;
      width: 100%;
    }

    .panels-flexible-row.panels-flexible-row-new-4 {

      .pane-levels-quizz-progress-completed-count {
        margin-left: 10px;

/*
        .view-content::before {
          content: 'My Progress';
          display: block;
          font-size: 32px;
          margin: 25px 15px;
        }
*/

        .view-content .views-field.views-field-tid {
          height: 24px;
          width: 100%;

          color: #e6e9ee;
          margin: 30px 5px;
          width: 100%;

          .field-content {
            font-size: 2.5em;
            font-weight: bold;
          }

          .field-content::before {
            content: 'Levels Completed: ';
            letter-spacing: .1em;
            font-size: 21px;
            color: #e6e9ee;
            position: relative;
            top: -7px;
          }

        }

        .contextual-links-wrapper.contextual-links-processed {
          display: none;
        }

      }

      .pane-levels-quizz-progress-closest-completion {

        .view-content .views-field.views-field-name {
          display: none;
        }

        .view-content .views-field.views-field-expression {
          height: 100px;
          margin: 10px auto;
          width: 100%;
          position: relative;
          background-color: #040a2b; /* #1e2341; */

          .percent-label {
            display: none;
          }

          .user-progress-bar {
            background-color: white;
            box-shadow: 1px 3px 10px gray inset;
            display: block;
            height: 24px;
            margin: 50px auto 50px 15px;
            overflow: hidden;
          }

          .progress-bar-percentage {
            font-family: arial, 'optimadisplaylightlight';
            font-size: 1.4em;
            font-weight: bold;
            position: absolute;
            top: 50px;
            left: 15px;
          }

          .progress-bar-percentage::before {
            content: 'Next Level Up: ';
            text-transform: uppercase;
            color: #e9e9ee;
            font-weight: bold;
            font-size: 22px;
            position: absolute;
            top: -40px;
            width: 400px;
            letter-spacing: .1em;
          }

          .user-progress {
              animation: 2s ease 0s normal forwards 1 running progress;
              background: black url('../images/progress-bar.png') repeat scroll 0 0;
              display: block;
              height: 24px;
              width: 0;
          }

          .view-content .views-field.views-field-name {
            display: none;
          }

        }

      }

    }

    // my points
    .panels-flexible-row.panels-flexible-row-new-5 {
      font-size: 1.2em;

      .panels-flexible-region-new-my_progress_last_login {

        .view-id-dashboard_user.view-display-id-last_login {

          .view-content .views-field.views-field-login {
            height: 50px;
            margin: 0 auto 0 20px;
            width: 100%;
            text-transform: uppercase;

            .views-label {
              font-weight: bold;
              color: #e9e6ee;
              font-size: 20px;
              letter-spacing: .1em;
            }

          }

        }

      }

      // my progress my points
      .panels-flexible-region-new-my_progress_my_points {

        .panels-flexible-region-new-my_progress_my_points-inside {

          .view-content .views-field.views-field-points {
            height: 50px;
            margin: 0 auto;
            width: 100%;
            text-transform: uppercase;
            position: relative;

            .views-label {
              font-weight: bold;
              color: #e9e9ee;
              font-size: 22px;
            }

            .field-content {
              margin-left: 50px;
            }

            .field-content::before {

              background: transparent url('/sites/all/themes/elx_front/images/leaderboard/points-icon.png') repeat scroll 0 0 / 20px auto;
              content: ' ';
              display: block;
              height: 17px;
              margin-left: 160px;
              position: absolute;
              top: 4px;
              width: 20px;

            }
          }
/*
          .view-content .views-field.views-field-points::before {

            background: transparent url("/sites/all/themes/elx_front/images/leaderboard/points-icon.png") repeat scroll 0 0 / 20px auto;
            content: " ";
            display: block;
            height: 17px;
            margin-left: 76px;
            position: absolute;
            top: 8px;
            width: 20px;

          }
*/

        }

      }

    }

    // blue box //
    .panels-flexible-row.panels-flexible-row-new-6 {

      .panels-flexible-region-new-my_progress_recently_completed_activites::before {
        content: 'Recently Completed Activities:';
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: .1em;
        margin-left: 20px;
      }

      .panels-flexible-region-new-my_progress_recently_completed_activites {

        .view-id-dashboard_user_activities.view-dashboard-user-activities {

          .view-content .views-row a {
            color: #9eafff;
          }

          .views-field.views-field-field-headline,
          .views-field.views-field-field-headline a {
            height: 50px;
            margin: 10px;
            width: 100%;
            font-size: 1.1em;
            letter-spacing: .1em;
          }

          .views-field.views-field-field-display-title {
            display: none;
          }

        }

      }

      .panels-flexible-region-new-my_progress_suggested_for_you {

        .view-id-dashboard_user_activities.view-dashboard-user-activities {

          .view-content .views-row a {
            color: #9eafff;
          }

          .views-field.views-field-field-headline,
          .views-field.views-field-field-headline a {
            height: 50px;
            margin: -2px 10px;
            width: 100%;
            display: none;
          }

          .views-field.views-field-field-display-title {
            display: block;
            width: 100%;
            height: 50px;

            .field-content {
              width: 100%;
              height: 50px;
            }

            .field-content a {
              color: #e9e9ee;
              width: 100%;
              height: 50px;
              letter-spacing: .1em;
              text-decoration: none;
            }

            .field-content a::before {
              color: #e9e9ee;
              content: 'Suggested For You: ';
              text-transform: uppercase;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: .1em;
              margin-right: 20px;
            }

          }

        }

      }

    }

    .panels-flexible-row-new-8 {
      margin: 0;
    }

  }

  /* LEADERBOARD  */
  .panels-flexible-region-new-my_leaderboard {

    .view-badges.view-id-badges {

      .more-link {
        display: none;
      }

      .views-row {
        width: 600px;
        margin: 0 auto;

        .views-field {
          margin: 0;
          transform: scale(.8);

          .field-content {

            a {
              text-indent: -5000px;
            }

          }

        }

      }

    }

    h2.pane-title {
      padding-top: 100px;
      margin: 40px auto;
      text-align: center;
      font-family: 'optimadisplaylightlight';
      font-size: 3em;
      font-weight: normal;
      clear: both;
    }

    // TOP LEADERBOARD BAND //
    .pane-user-points-panel-pane-2 {

      font-family: 'optimadisplaylightlight';

      h2.pane-title {
        padding-top: 100px;
        margin: 40px auto;
        text-align: center;
        font-family: 'optimadisplaylightlight';
        font-size: 3em;
        font-weight: normal;
      }

      // TOP LEADERBOARD BAND //
      .view-id-user_points {
        height: 100px;
        margin: 0;

        .view-content {
          height: 100px;
          background-color: #040a2b;
          color: #fff;
        }

        .views-field {
          height: 100px;
          width: 20%;
        }

        .views-field-uid {
          width: 15%;

          .field-content {
            font-size: 2em;
            padding: 25px;
            display: block;
            float: right;
            font-family: arial;
            font-weight: bold;
          }
        }

        /*
        .views-field-view {

        }

        .views-field-user-gravatar-picture {

        }
        */

        .views-field-field-last-name {
          .field-content {
            font-size: 2em;
            padding: 25px;
          }
        }

        .views-field-points-1 {
          width: 30%;

          .field-content {
            font-size: 2em;
            padding: 25px;
            display: block;
            float: right;
            font-family: arial;
            font-weight: bold;
          }
        }
      }

    }

    .item-list {

      > ul {
        padding: 0;
      }

      li.views-row {
        border: 0 solid white;
        width: 880px;
        height: 220px;
        list-style: none;
        list-style-position: inside;
        padding: 0;
        margin: 0 25px;
        position: relative;

        @include respond-to('mobile') {
          width: 100%;
          height: 150px;
          margin: 0;
        }

        @include respond-to('mobile-landscape') {
          width: 100%;
          height: 150px;
          margin: 0;
        }

        .views-field.views-field-field-display-title {
          position: absolute;
          margin: 0;
          width: 500px;
          height: 100px;

          @include respond-to('mobile') {
            width: 100%;
            height: auto;
          }

          @include respond-to('mobile-landscape') {
            width: 100%;
            height: auto;
          }

          .field-content a {
            font-family: 'optimadisplaylightlight';
            position: absolute;
            top: 15px;
            left: 250px;
            width: 500px;
            color: #040a2b;
            font-size: 1.4em;
            position: absolute;
            text-decoration: none;

            @include respond-to('mobile') {
              width: 160px;
              height: auto;
              left: 110px;
            }

            @include respond-to('mobile-landscape') {
              width: 160px;
              height: auto;
              left: 110px;
            }

          }

        }

        div.views-field {
          height: 100px;
          width: 20%;
        }

        .views-field-counter {

          .field-content {
            font-size: 2em;
            padding: 25px;
            display: block;
            float: right;
            font-family: arial;
            font-weight: bold;
          }
        }

        /*
        .views-field-user-gravatar-picture {

        }
        */

        .views-field-field-last-name {
          .field-content {
            font-family: 'optimadisplaylightlight';
            font-size: 2em;
            padding: 25px;
          }
        }

        .views-field-field-country {

          .field-content {
            font-size: 2em;
            padding: 25px;
            display: block;
            float: right;
            font-family: arial;
            font-weight: bold;
          }
        }

        .views-field-points-1 {

          .field-content {
            font-size: 2em;
            padding: 25px;
            display: block;
            float: right;
            font-family: arial;
            font-weight: bold;
          }
        }

      }
    }

  }

  /* USER POINTS */
  .pane-user-points-dashboard-user-points {

    .view-display-id-dashboard_user_points {

      .item-list {

        li.views-row {
          clear: left;
          border: 0 solid white;
          width: 100%; // 880px; //
          height: 125px;
          list-style: none;
          list-style-position: inside;
          padding: 0;
          margin: 0;
          border-bottom: 1px solid lightgray;

/*
          .views-field {
            height: 50px;
            width: 15%;
          }
*/

          .views-field.views-field-counter {
            float: left;
            height: 50px;
            margin: 0;
            width: 100px;
          }

        }

      }

    }

  }

  // MY FAVORITES
  .panel-pane.pane-views.pane-dashboard-favorites {
    display: none;
  }


  // TOOLS
  .pane-dashboard-tools {

    ul {
      margin: 0;
      padding: 0;
    }

    .views-field.views-field-field-tool-thumbnail {
      float: left;
      clear: left;
      height: 200px;
      margin: 10px;

      @include respond-to('mobile') {
        width: 100px;
        height: 100px;
        margin: 0 10px 0 0;
      }

      @include respond-to('mobile-landscape') {
        width: 100px;
        height: 100px;
        margin: 0 10px 0 0;
      }

      .field-content {

        a {
          background-size: 0;
          height: 150px;
          margin: 0;
          width: 250px;

          @include respond-to('mobile') {
            width: 100px;
            height: 100px;
          }

          @include respond-to('mobile-landscape') {
            width: 100px;
            height: 100px;
          }

        }

      }

    }

  }

  main.dashboard-override {
    display: none;
    margin-bottom: 300px;

    .elx-neck-name {
      width: 300px;
      text-align: center;
      margin: 25px auto;
      font-size: 2em;
      font-family: $font-family-serif;
    }

    .two-by-two-ux {
      margin: 100px auto;
      width: 65%;
      padding-left: 50px;
      padding-bottom: 100px;

      @include respond-to('mobile') {
        width: 90%;
        padding: 0 20px;
      }

      @include respond-to('mobile-landscape') {
        width: 90%;
        padding: 0 20px;
      }

      .r1xc1,
      .r1xc2,
      .r2xc1,
      .r2xc2,
      .r3xc1,
      .r4 {

        label {
          text-transform: uppercase;
          font-size: 1.3em;
          float: left;
          letter-spacing: 1px;
        }

        span {
          margin-left: 12px;
          font-size: 1.3em;
          float: left;
          font-family: $font-family-serif;
          font-weight: bold;
        }

      }

      .btn-edit-profile {
        border: 1px solid #a4a4ab;
        margin: 20px auto 0;
        font-size: '0.8em';
        height: 50px;
        letter-spacing: '0.1em';
        padding-top: 11px;
        width: 360px;
        cursor: pointer;

        @include respond-to('mobile') {
          width: 100%;
          height: 70px;
          margin: 0;
        }

        span {
          color: #a4a4ab;
          text-transform: uppercase;
          height: 50px;
          margin: 0 auto;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }

        span::before {
          content: 'Óòê';
          font-family: $font-family-icons;
          color: #a4a4ab;
          padding: 12px;
        }

      }

      .r1xc1,
      .r1xc2,
      .r2xc1,
      .r2xc2 {
        width: 50%;
        height: 60px;

        @include respond-to('mobile') {
          width: 100%;
          clear: both;
        }

      }

      .r3xc1,
      .r4 {
        width: 100%;
      }

      .r3xc1 {
        height: 60px;
      }

      .r4 {
        height: 90px;
      }

      .r1xc1,
      .r2xc1,
      .r3xc1,
      .r4 {
        clear: left;
        float: left;
      }

      .r1xc2,
      .r2xc2,
      .r3xc1,
      .r4 {
        float: left;
      }

    }

    .elx-round-container {
      width: 200px;
      margin: 0 auto;

      .elx-inner-round {
        height: 200px;
        width: 200px;
        border: 3px solid gold;
        border-radius: 200px;
        background-color: #f0f8ff;
        background-image: url('/sites/all/themes/elx_front/images/user/elx-circle-bg.png');

        @include respond-to('mobile') {
          margin: 20px 0 0;
        }

      }

      .elx-inner-round::before {
        border-top: 1px solid #ccc;
        content: ' ';
        display: block;
        float: left;
        height: 1px;
        margin-left: -200px;
        margin-top: 90px;
        width: 150px;

        @include respond-to('mobile') {
          display: none;
        }

        @include respond-to('mobile-landscape') {
          display: none;
        }

      }

      .elx-inner-round::after {
        border-top: 1px solid #ccc;
        content: ' ';
        display: block;
        float: right;
        height: 1px;
        margin-right: -200px;
        margin-top: 90px;
        width: 150px;

        @include respond-to('mobile') {
          display: none;
        }

        @include respond-to('mobile-landscape') {
          display: none;
        }

      }

    }

  }

  /* GNAV ADJUSTMENTS */
  .qtip-content.qtip-content {

    #mini-panel-header_user_menu {

     .pane-levels-quizz-progress-completed-count {

       .view-display-id-completed_count {

          position: relative;

          .views-field.views-field-tid::before {
            top: 10px;
            height: 80px;
            position: absolute;
          }
        }
      }

      .pane-badges-my-badges {

        h2.pane-title {
          padding-left: 20px;
        }
      }
    }
  }

}

// FAVORITES HEART
.views-field-ops {
  width: 50%;
  float: left;
  text-align: right;

  .flag-favorites {

    a {
      text-decoration: none;
      color: #000;
      padding: 0 5px 0 0;
    }

    a.unflag-action,
    a.flagged {

      &::before {
        font-family: 'elx-icons';
        content: '\e60b';
        color: #f05c72;
        font-size: 14px;
        padding: 0 2px 0 0;
      }

    }

    a.flag-action,
    a.unflagged {

      &::before {
        font-family: 'elx-icons';
        content: '\e60c';
        color: #f05c72;
        font-size: 14px;
        padding: 0 2px 0 0;
      }

    }

  }

}

/* POINTS VALUES AND ICON */
.views-field-field-point-value {
  width: 50%;
  float: right;

  .field-content {
    padding: 0 0 0 5px;

    &::before {
      font-family: 'elx-icons';
      content: '\e604';
      color: #a48a58;
      font-size: 14px;
      padding: 0 2px 0 0;
    }
  }

}

