.page-product-library,
.page-search-product-library {

  h1 {
    font-family: $font-family-serif;
    font-size: $font-size-lg-extralarge;
    font-weight: 100;
    text-align: center;

    @include respond-to('mobile') {
      font-size: 40px;
    }

    @include respond-to('mobile-landscape') {
      font-size: 40px;
    }
  }

  h2.pane-title {
    display: none;
    /*
    font-family: $font-family-serif;
    font-size: $font-size-lg-extralarge;
    font-weight: 100;
    text-align: center;

    @include respond-to('mobile') {
      font-size: 40px;
    }

    @include respond-to('mobile-landscape') {
      font-size: 40px;
    }
    */
  }

  .view-header {
    max-width: 1024px;
    margin: 0 auto;
    font-style: italic;
    font-size: $font-size-large;
  }

  div#search-line-rearranged {

    margin: 25px auto;

    #search-line-pipe {
      outline: none;

      font-size: 1.2em;
      border-bottom: 2px solid rgb(4, 10, 43);
      border-color: transparent transparent rgb(4, 10, 43);
      width: 780px;
      height: 55px;
      margin: 0 auto;
      display: block;
      position: relative;
    }

    .icon-component {
      margin: 0 auto;
      position: relative;
      z-index: 300;
      width: 780px;

      @include respond-to('mobile') {
        width: 320px;
        float: right;
      }

      @include respond-to('mobile-landscape') {
        width: 568px;
        float: right;
      }

      @include respond-to('tablet') {
        width: 100%;
        float: right;
      }

      .icon-holder-placement {
        bottom: 0;
        right: 50px;
        width: 0;
        margin: 0 auto;
        position: absolute;

        .icon-holder {
          float: right;
          height: 50px;
          width: 50px;
          cursor: pointer;
        }

        .icon-holder::before {
          color: black;
          content: '\e60f';
          font-family: 'elx-icons';
          line-height: 44px;
          position: absolute;
          right: -40px;
          font-size: 2.5em;
        }
      }
    }
  }

  .view-product-library {

    // search line (w/ magnify glass icon) manipulated out of form
    .view-filters {

      .views-exposed-widgets

        #edit-combine-wrapper {
          display: none;
        }

        .views-exposed-widget.views-submit-button {
          margin-top: 0;
          margin-left: 10px;
        }
    }

  }

  .view-search-product-library {

    // search line (w/ magnify glass icon) manipulated out of form
    .view-filters {

      .views-exposed-widgets

        #edit-combine-wrapper {
          display: none;
        }

        .views-exposed-widget.views-submit-button {
          margin-top: 5px;
          margin-left: 10px;
        }
    }

  }

  .view-product-library,
  .view-search-product-library {

    // product library content
    .view-content {
      max-width: 1024px;
      margin: 0 auto;

      ul {
        margin: 0;
        padding: 0;

        li {
          height: 260px;
          margin: 0;
          padding: 23px 30px;
          list-style-type: none;
          clear: both;
          border-bottom: 1px solid #ccc;

          @include respond-to('mobile') {
            height: 120px;
            padding: 10px 0;
          }

          @include respond-to('mobile-landscape') {
            height: 120px;
            padding: 10px 0;
          }

          .views-field-field-product-image {
            float: left;
            max-height: 240px;
            max-width: 240px;
            min-height: 240px;
            min-width: 240px;
            margin: 0 20px 0 0;
            text-align: center;

            @include respond-to('mobile') {
              max-height: 100px;
              max-width: 100px;
              min-height: 100px;
              min-width: 100px;
              margin: 0 10px 0 0;
            }

            @include respond-to('mobile-landscape') {
              max-height: 100px;
              max-width: 100px;
              min-height: 100px;
              min-width: 100px;
              margin: 0 10px 0 0;
            }

          }

          .views-field-field-display-title {

            @include respond-to('mobile') {
              padding: 22px 0 0;
            }

            @include respond-to('mobile-landscape') {
              padding: 22px 0 0;
            }

            a {
              margin: 22px 0 11px;
              font-family: $font-family-serif;
              font-size: $font-size-lg-large;
              text-decoration: none;
              color: #040a2b;

              @include respond-to('mobile') {
                font-size: 16px;
              }

              @include respond-to('mobile-landscape') {
                font-size: 16px;
              }

            }
          }

          .views-field-field-why-there-s-only-one {
            font-size: $font-size-large;

            @include respond-to('mobile') {
              display: none;
            }

            @include respond-to('mobile-landscape') {
              display: none;
            }

          }

        }

      }

    } // end product library content
  }
}
