.page-product-library,
.page-search-product-library {

  h1 {
    font-family: $font-family-serif;
    font-size: $font-size-lg-extralarge;
    font-weight: 100;
    text-align: center;
  }

  .view-header {
    max-width: 1024px;
    margin: 0 auto;
    font-style: italic;
    font-size: $font-size-large;
  }

  .view-product-library,
  .view-search-product-library {

    // product library content
    .view-content {
      max-width: 1024px;
      margin: 0 auto;

      ul {
        margin: 0;
        padding: 0;

        li {
          height: 260px;
          margin: 0;
          padding: 23px 30px;
          list-style-type: none;
          clear: both;
          border-bottom: 1px solid #ccc;

          .views-field-field-product-image {
            float: left;
            max-height: 240px;
            max-width: 240px;
            min-height: 240px;
            min-width: 240px;
            margin: 0 20px 0 0;
            text-align: center;
          }

          .views-field-field-display-title {

            a {
              margin: 22px 0 11px;
              font-family: $font-family-serif;
              font-size: $font-size-lg-large;
              text-decoration: none;
              color: #040a2b;
            }
          }

          .views-field-field-why-there-s-only-one {
            font-size: $font-size-large;
          }

        }

      }

    } // end product library content
  }
}
