/* LEVELS */
body.page-levels-all,
body.page-levels-completed,
body.page-levels-in-progress {

  h2.pane-title {
    font-family: $font-family-serif;
    font-size: $font-size-lg-extralarge;
    font-weight: 100;
    text-align: center;
  }

  .panel-pane.pane-block-5 {
    font-family: $font-family-serif;
    font-weight: 100;
    font-size: $font-size-lg-large;
    text-align: center;
    padding: 10px 0;
    width: 75%;
    margin: auto;
    line-height: 1.3em;

  }

  .logo,
  .logo-sub {
    display: none;
  }

  /* TOP MENU TABS */
  /* needs to be in .panel-display so it doesn't interfere with header */
  .panel-display {

    .pane-menu-menu-levels-menu {

      ul.menu {
        display: block;
        background-color: #e6e9ee;
        text-align: center;

        li {
          display: inline-block;
          list-style-type: none;
          list-style-image: none;
          margin: 38px -3px;

          a {
            font-size: $font-size-lg-extrasmall;
            font-weight: bold;
            letter-spacing: 3px;
            color: #040a2b;
            display: inline-block;
            width: 170px;
            height: 46px;
            background-color: #fff;
            border: 1px solid #ccc;
            text-align: center;
            text-decoration: none;
            padding: 10px 0 0;
            position: relative;
          }

          a.active {
            color: #fff;
            background-color: #040a2b;
            border: 1px solid #040a2b;
            z-index: 2;
          }

        }

      }

    }

  }

  .view-content {

    > .views-row {
      width: 100%;
      clear: both;
      margin-bottom: 40px;

      .view-level-content {

        .view-content {
          clear: both;

          > .views-row {
            display: inline-block;
            width: 23%;
            margin: 0 1% 0 0;
            vertical-align: top;
            text-align: center;
          }

        }

      }

    }

  }

  .views-label {
    text-transform: uppercase;
    font-size: 18px;
    font-family: $font-family-serif;
  }

  .views-field-name {
    font-family: $font-family-serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 30px;
  }

  .views-field-field-hero-image {
    margin: 0 auto;
    max-width: 388px; // this should be fixed with imagemagick but we need it working now
    height: 178px;
  }

  .views-field-field-headline {
    font-family: $font-family-serif;
    text-align: center;
    font-size: 22px;
    margin: 20px 0;

    a {
      text-decoration: none;
      color: #000;

    }

  }

  .pager {
    margin: 30px 650px;
    min-width: 170px;
    padding: 0 0 60px;


    .pager-next  {
      background-image: none;
      background: #fff;
      border: 1px solid #000;
      padding: 6px 15px;
      background-color: transparent;
      width: auto;
      height: auto;

      a {
        text-transform: uppercase;
        color: #000;
        margin: 0 auto;
        font-weight: 700;
        min-width: 0;
        text-align: center;
        font-family: $font-family-sans-serif;
        text-decoration: none;
        background-image: url('../images/brand-tile.svg');
        background-repeat: no-repeat;
        background-size: 25px 17px;
        text-indent: 40px;
        display: inline-block;
        line-height: 1;
        width: auto;
        height: auto;
      }

      .ajax-progress,
      .ajax-progress-throbber {
        display: none;
      }

    }

  }

  .user-progress-bar {
    background-color: white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, .15) inset;
    display: block;
    height: 25px;
    margin: 50px auto 50px 150px;
    width: 85%;

    .user-progress {
      background: url('../images/progress-bar.png');
      display: block;
      height: 24px;
      width: 0%;
      -webkit-animation: progress 2s 1 forwards;
      -moz-animation: progress 2s 1 forwards;
      -ms-animation: progress 2s 1 forwards;
      animation: progress 2s 1 forwards;
    }

    @-webkit-keyframes progress {
      from { width: 0%; }
    }

    @-moz-keyframes progress {
      from { width: 0%; }
    }

    @-ms-keyframes progress {
      from { width: 0%; }
    }

    @keyframes progress {
      from { width: 0%; }
    }

    .progress-bar-percentage {
      font-family: arial, $font-family-serif;
      font-size: 1.4em;
      font-weight: bold;
      position: absolute;
      width: 130px;
      margin-left: -50px;
    }

    .user-progress::before {
      font-family: $font-family-serif;
      font-size: 1.2em;
      margin-left: -145px;
      content: 'PROGRESS ';
    }

  }

  .ajax-progress-throbber {
    // So it doesn't cause the text to move
    position: absolute;
  }

  // gnav exception //
  .qtip-content.qtip-content {
    #mini-panel-header_user_menu {

      .pane-levels-quizz-progress-closest-completion {
        .user-progress-bar {
          background-color: #1e2341;
        }

        .views-field-expression {
          .progress-bar-percentage {
            left: 30px;
          }
        }
      }

      .pane-dashboard-user-my-points {
        .view-display-id-my_points {
          .views-field-points {
            .field-content::before {
              margin-left: 86px;
            }
          }
        }
      }

      .pane-dashboard-user-activities-suggested {
        .view-display-id-suggested {
          .views-field-field-headline {
            margin: 0;

            .field-content {
              text-align: left;
              padding: 0;
            }
          }
        }
      }

      .pane-badges-my-badges {
        background-color: #1e2341;
        margin-top: 1px;

        h2.pane-title {
          padding-left: 5px;
        }

      }
    }

  }

}
