.node-type-hot-spots .field-name-field-hot-spot-image,
.page-node-add-hot-spots .field-name-field-hot-spot-image {
  position: relative;
}
.node-type-hot-spots .field-name-field-hot-spot-image #overlay,
.page-node-add-hot-spots .field-name-field-hot-spot-image #overlay {
  background: url(/sites/all/themes/elx/images/hot-spot-overlay.png) no-repeat top left;
  height: 665px;
  width: 575px;
  position: absolute;
}

.select-all {
  margin-bottom: 20px;
}
