/* LEADERBOARD */
body.page-leaderboard {

  $field-picture-radius: 112px;
  $field-picture-radius-header: 175px;

  @include respond-to('mobile') {
    .layout-3col {
      main.layout-3col__full {
        width: 100%;
        padding: 0;
      }
    }
  }

  @include respond-to('mobile-landscape') {
    .layout-3col {
      main.layout-3col__full {
        width: 100%;
        padding: 0;
      }
    }
  }

  main {

    h1 {
      font-family: $font-family-serif;
      font-size: 72px;
      margin: 77px 0 16px;
      text-align: center;
      color: #040a2b;
      letter-spacing: '0.1em';

      @include respond-to('mobile') {
        font-size: 2.85em;
      }

      @include respond-to('mobile') {
        font-size: 2.85em;
      }

    }

    form#dashboard-and-menu-leaderboard-filter-form {
      background-color: #e6e9ee;
      padding: 65px 50px 1px;
      text-align: center;

      .form-item-leaderboard-filter {

        label {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.1em;
        }

        select {
          background: white none repeat scroll 0 0;
          width: 300px;
          margin: 10px;
        }

      }
    }

    .pane-dashboard-and-menu-leaderboard-filter {
      margin-top: -80px;

      @include respond-to('mobile') {
        margin-top: -25px;
      }

      @include respond-to('mobile') {
        margin-top: -25px;
      }

    }

    .pane-user-points-panel-pane-1 {

      .views-field-user-gravatar-picture {
        margin-left: 25%;
        margin-top: 0;
        position: absolute;

        .field-content {
          background-color: #f0f8ff;
          background-size: 100% auto;
          border: 3px solid #d9b544;
          border-radius: 90px;
          display: block;
          float: left;
          width: 90px;
          height: 90px;
          overflow: hidden;
          background-image: url('/sites/all/themes/elx_front/images/user/elx-circle-bg.png');

          @include respond-to('mobile') {
            width: 42px;
            height: 42px;
          }

          @include respond-to('mobile-landscape') {
            width: 42px;
            height: 42px;
          }

          img {
            max-width: 110%;
            transform: scale(1.1);
          }

        }

      }

    }

    .pane-user-points-panel-pane-2 {
      clear: both;
      font-size: 2em;
      font-family: $font-family-serif;
      padding: 25px;
      margin: 10px auto 30px;
      list-style-position: inside;
      list-style: none;
      position: relative;
      z-index: 100;
      color: white;
      background-color: #040a2b;
      width: 90%;
      height: 120px;

      @include respond-to('mobile') {
        width: 100%;
        margin: 20px 0 0;
        padding: 0;
        height: 40px;
      }

      @include respond-to('mobile-landscape') {
        width: 100%;
        margin: 20px 0 0;
        padding: 0;
        height: 40px;
      }

      .view-content {
        position: relative;

        // user's rank number
        .views-field-view {

          @include respond-to('mobile') {
            float: left;
            width: 50%;
            padding: 6px 0 0;
          }

          @include respond-to('mobile-landscape') {
            float: left;
            width: 50%;
            padding: 6px 0 0;
          }

        }

        .views-field-user-gravatar-picture {
          margin-left: 25%;
          margin-top: -90px;
          position: absolute;

          @include respond-to('mobile') {
            width: 56px;
            height: 56px;
            margin: -7px auto 0;
            left: 0;
            right: 0;
          }

          @include respond-to('mobile-landscape') {
            width: 56px;
            height: 56px;
            margin: -7px auto 0;
            left: 0;
            right: 0;
          }

          .field-content {
            background-image: url('/sites/all/themes/elx_front/images/user/elx-circle-bg.png');
            background-color: #f0f8ff;
            border: 3px solid #d9b544;
            border-radius: 90px;
            //border-radius: $field-picture-radius-header;
            display: block;
            float: left;
            height: $field-picture-radius-header;
            width: $field-picture-radius-header;
            background-color: #f0f8ff;
            background-size: 100%;
            overflow: hidden;

            @include respond-to('mobile') {
              width: 56px;
              height: 56px;
            }

            @include respond-to('mobile-landscape') {
              width: 56px;
              height: 56px;
            }

            img {
              width: 100%;
            }

          }

        }

        .views-field-field-last-name {
          font-size: 1.3em;
          margin-left: 45%;
          position: absolute;
          top: 0;
          width: 25%;

          @include respond-to('mobile') {
            display: none;
          }

          @include respond-to('mobile-landscape') {
            display: none;
          }

        }

        .views-field-uid::before,
        .views-field-points::before {
          content: '#';
          font-size: 32px;
          vertical-align: super;

          @include respond-to('mobile') {
            font-size: 13px;
          }

          @include respond-to('mobile-landscape') {
            font-size: 13px;
          }

        }

        .views-field-uid,
        .views-field-points {
          margin-left: 10px;
          font-family: $font-family-sans-serif;
          font-size: 1.5em;
          font-weight: bold;
          width: 15%;

          @include respond-to('mobile') {
            font-size: $font-size-lg-medium;
            width: 100%;
          }

          @include respond-to('mobile-landscape') {
            font-size: $font-size-lg-medium;
            width: 100%;
          }

        }

        .views-field-points-1 {
          font-family: $font-family-sans-serif;
          font-size: 1.4em;
          font-weight: bold;
          position: absolute;
          right: 0;
          top: 25px;

          @include respond-to('mobile') {
            float: right;
            right: 10px;
            top: 6px;
            font-size: $font-size-lg-medium;
          }

          @include respond-to('mobile-landscape') {
            float: right;
            right: 10px;
            top: 6px;
            font-size: $font-size-lg-medium;
          }

          .field-content::before {
            background: rgba(0, 0, 0, 0) url('/sites/all/themes/elx_front/images/leaderboard/points-icon.png') repeat scroll 0 0;
            content: ' ';
            display: block;
            height: 27px;
            margin-left: -45px;
            position: absolute;
            width: 30px;
          }
        }

      }

    }


    .item-list {

      ul {

        @include respond-to('mobile') {
          margin: 0;
          padding: 0;
        }

        @include respond-to('mobile') {
          margin: 0;
          padding: 0;
        }

        li.views-row {
          clear: both;
          width: 95%;
          height: 150px;
          list-style-position: inside;
          list-style: none;
          margin: 10px auto 30px;
          font-size: 2em;
          font-family: $font-family-serif;
          border-bottom: 1px solid gray;
          padding: 25px;
          position: relative;

          @include respond-to('mobile') {
            margin: 0;
            padding: 0;
            height: 65px;
            font-size: 16px;
          }

          @include respond-to('mobile') {
            margin: 0;
            padding: 0;
            height: 65px;
            font-size: 16px;
          }

          .views-field {
            float: left;
          }

          .views-field-counter {
            width: 15%;
            font-family: $font-family-sans-serif;
            font-size: 1.3em;
            font-weight: bold;

            @include respond-to('mobile') {
              font-size: $font-size-lg-medium;
            }

            @include respond-to('mobile-landscape') {
              font-size: $font-size-lg-medium;
            }

            span.field-content {
              margin-left: -5px;
            }

          }

          .views-field-counter::before {
            content: '#';
            font-size: 24px;
            vertical-align: super;

            @include respond-to('mobile') {
              font-size: 13px;
            }

            @include respond-to('mobile-landscape') {
              font-size: 13px;
            }

          }

          .views-field-field-last-name {
            width: 25%;
            position: absolute;
            margin-left: 45%;
          }

          .views-field-field-country {
            width: 25%;
            position: absolute;
            margin-left: 45%;
            margin-top: 42px;
          }

          .views-field-points-1 {
            float: right;
            font-family: $font-family-sans-serif;
            font-weight: bold;
            font-size: 1.2em;
            margin-top: 12px;

            @include respond-to('mobile') {
              font-size: $font-size-lg-small;
            }

            @include respond-to('mobile-landscape') {
              font-size: $font-size-lg-small;
            }

            .field-content::before {
              content: ' ';
              background: url('/sites/all/themes/elx_front/images/leaderboard/points-icon.png');
              height: 27px;
              width: 30px;
              display: block;
              margin-left: -45px;
              position: absolute;
            }

          }

        }

      }

    }

  }


  // gnav exception //
  .qtip-content.qtip-content {

    #mini-panel-header_user_menu {

      /*
      .pane-badges-my-badges {

         h2.pane-title {
           margin-left: 15px;
           margin-top: 5px;
        }
      }
      */

    }
  }

}

