// modal theme for "clouds"
// used by:
// New Dimension
// New Dimension 2

#modalContent.re-nutriv {

  .ctools-modal-content {
    background: url('../images/modal_bg/black_gold.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    background-color: #000;
    color: #fff;
  }

}
